
<div class=" bg-bremsen container-fluid" > <!-- pasar el css-->
  <div class="container">
      <div class="pad-50">&nbsp;</div>
          <div class="row">
              <div class="col-md-6">&nbsp;</div>
                <div class="col-md-6">
                    <h1><b>Error 404</b></h1>
                </div>
          </div><!--row-->
        <div class="pad-50">&nbsp;</div>

  </div>
</div>

<div class="container">
    <div class="row">
            
        <br>
          <div class="col-md-12">
           <div class="pad-15">&nbsp;</div>
              <h1>Error!  :(</h1>  
              <p>Lo sentimos a ocurrido un error en tu busqueda, presiona el boton de abajo para volver al home.</p>
              <br>

                
                
                  <br><br>
          </div>
    </div>
    <div class="row">
      <div class="col-md-2">
           <button class="btn btn-default" routerLink="/home">Volver al home</button>
      </div>

    </div>
</div>

