
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <div class="volver">
        <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
      </div>

      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Pagina actual</a></li>
      </ul>
      <div class="col-md-12">
            <table class="table">
              <tr>
                  <td class="text-center borderBottom" width="33%"><h3>01 Carro de compra</h3></td>
                  <td class="text-center borderBottomActive" width="33%"><h3>02 Información del cliente</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>03 Pago</h3></td>
              </tr>
            </table>
            <br>
      </div>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-8">
        <h1 class="title">Información cliente</h1>


      <form>
                  <div class="form-group ">
                    <label for="">Nombre completo</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group ">
                    <label for="">Email</label>
                    <input type="email" class="form-control" id="" >
                  </div>




                   <div class="form-group ">
                    <label for="">Recibo </label>
                      <select class="form-control" id="input-select" name="input-select">
                        <option value="">. </option>
                        <option value="1">Boleta </option>
                        <option value="2">Factura </option>

                    </select>
                  </div>

                    <!--  ***********  Si apretas FACTURA sale  estos campos  *************




                  <div class="form-group ">
                    <label for="">Razon Social</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group ">
                    <label for="">R.U.T  de la empresa</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group ">
                    <label for="">Giro</label>
                    <input type="text" class="form-control" id="">
                  </div>

                   <div class="form-group ">
                    <label for="">Dirección</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group ">
                    <label for="">Región </label>
                      <select class="form-control" id="input-select" name="input-select">
                        <option value="">. </option>
                        <option value="1">1 </option>
                        <option value="2">2 </option>
                        <option value="3">3 </option>
                        <option value="4">4 </option>
                    </select>
                  </div>

                   <div class="form-group ">
                    <label for="">Recibo </label>
                      <select class="form-control" id="input-select" name="input-select">
                        <option value="">. </option>
                        <option value="1">Boleta </option>
                        <option value="2">Factura </option>

                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" id="" >
                  </div>


                   ***********  cierre FACTURA   ************* -->






                   <br>

                  <label class="checkbox-inline">
                    <input type="checkbox" value="" name="">
                    ¿Quieres crear una cuenta? Agilizarás las proximas compras. </label>
                <br><br>

                 <!--  ***********  Si apretas CREAR CUENTA sale  estos campos  *************


                  <div class="form-group required">
                    <label for="">Contraseña</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group required">
                    <label for="">Confirmar contraseña</label>
                    <input type="text" class="form-control" id="">
                  </div>

                **********  Si apretas CREAR CUENTA sale  estos campos  *************

                -->



        </form>

        <div class="col-md-6" style="padding-top: 25px; padding-left: 0px;">
              <button type="button" class="btn btn-primary btn-block">Pagar <b>Web</b> <b style="color:#ff9222;">Pay</b></button>
         <p class="p-botnes" >Puedes pagar con Tarjeta de crédito o Redcompra.</p>

        </div>
         <div class="col-md-6"  style="padding-top: 25px; padding-right: 0px;">

             <button class="btn btn-default  btn-block" type="button" data-toggle="collapse" data-target="#transferencia" aria-expanded="false" aria-controls="transferencia">
                      Transferencia Bancaria
              </button>
               <p class="p-botnes">Tranfiere directamente a nuestra cuenta y envia el comprobante a xxxx@bremsen.cl</p>




         </div>

           <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                   <div class="collapse" id="transferencia" style="text-align: left !important;">
                      <div class="well">
                        <br>
                          <div class="col-md-12 col-sm-12">

                              <p>Luego de efectuar el pago, <b>debes enviar el comprobante de la transferencia vía mail</b> usando tu código de compra como asunto del mensaje. Una vez que tu pago sea verificado comenzará el despacho de tus productos.</p>

                             <h2>Datos cuenta</h2><br>
                                <label><b>Tipo de Cuenta:</b></label>
                                <p>Cuenta corriente</p><br>

                                <label><b>Banco:</b></label>
                                <p>Banco BCI</p><br>


                                <label><b>Nombre:</b></label>
                                <p> Compra y venta de repuestos automotrices SPA</p><br>

                                <label><b>Rut:</b></label>
                                 <p>76.577.353-9</p><br>

                                <label><b>Número de Cuenta:</b></label>
                                <p> 52351114</p><br>

                                <label><b>Email:</b></label>
                                <p>ventas@bremsen.cl</p><br>

                                <label><b>Código de compra:</b></label>
                                <p>cd1234</p>
                           </div>

                           <div class="col-md-12">
                            <div class="pad-10">&nbsp;</div>

                             <button type="button" class="btn btn-default ">CONFIRMAR transferencia </button>
                           </div>

                      </div>
                    </div>


 </div>

        </div>












        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside class="col-sm-4 hidden-xs" id="column-right" style="padding-top: 49px; padding-right: 0px;">

          <div class="col-md-3"></div>
            <div class="col-md-9" style=" border: 1px solid #ccc;">
              <br>
                  <h3 class="subtitle">Resumen de compra</h3>
                 <table class="table" >
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Neumáticos</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Instalación</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Descuento</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>

                   <tr>
                     <td><p style="font-size: 16px">TOTAL</p></td>
                     <td><p style="font-size: 16px">$</p></td>
                   </tr>
                 </table>
            </div>



        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>
