

  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
        <li>Detalle Producto</li>
      </ul>
      <!-- Breadcrumb End-->

      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <div itemscope itemtype="http://schema.org/Product">
            <h1 class="title" itemprop="name">Detalle del producto</h1>



            <div class="row product-info">
              <div class="col-sm-4">
                <div class="image"><img class="img-responsive" itemprop="image" id="" src="assets/image/product/540x576.jpg" title="Laptop Silver black" alt="" /> </div>


              </div>
              <div class="col-sm-8">


                <div class="col-md-6">
                  <div class="caption">
                    <h4> {{producto.MARCA}} {{producto.MODELO}}</h4>
                    <div>
                      <ul class="lista-producto">
                          <li>Ancho: {{producto.ANCHO}}</li>
                          <li>Pefil: {{producto.PERFIL}}</li>
                          <li>Aro: {{producto.ARO}}</li>
                          <li>Indice de carga: {{producto.CARGA}}</li>
                          <li>Marca: {{producto.MARCA}}</li>
                          <li>Instalación gratis: {{producto.INCLUYE_INSTALACION}}</li>
                          <li>Despacho gratis: {{producto.DESPACHO}}</li>
                      </ul>
                    </div>

                  </div>

                </div>
        <div class="col-md-6">
          <table class="table2 table table-precio" style="padding-right: 0px;">
            <tr >
              <td>Cantidad </td>
              <td  style="text-align:right;">Valor unitario </td>

            </tr>
            <tr>
              <td class="col-sm-3">
                  <div class="form-group" [ngClass]="{ 'has-error': cantidadValido }">
                    <select class="form-control" name="cantidad" #cantidadSelected id="cantidad" [(ngModel)]="cantidad" (change)="cambiaCantidad(cantidadSelected.value)">
                    <option *ngFor="let stock of producto.STOCK" [value]="stock.codigo">{{stock.nombre}}</option>
                    </select>
                    <div *ngIf="producto.STOCK[0].codigo==0" class="help-block">Sin Stock</div>
                     <div *ngIf="cantidadValido" class="help-block">Debe seleccionar una cantidad</div>
                     </div>
              </td>
              <td class="col-sm-6">

                <p style="text-align:right; margin-bottom: 3px;" class="precio"><b>{{producto.PRECIO_FINAL  | number | currencyFormat}}</b></p>
                <!--p style="text-align:right; font-size: 12px;">Ahorro $60,000</p-->
              </td>
            </tr>
          </table>
    <hr class="hr1">

          <table class="table2 table table-precio" *ngIf="producto.STOCK[0].codigo>0">

            <tr  >
              <td class="col-sm-6">
                <p class="total" >Total</p>
              </td>
              <td style="text-align:right;" class="col-sm-6">
                <h3 class="precio" ><b>{{totalAComprar  | number | currencyFormat}}</b></h3>

              </td>
            </tr>

          </table>

          <table class="table2 table table-precio" *ngIf="producto.STOCK[0].codigo>0">
                <tr>
              <td>
                <button  type="submit" class="btn btn-primary bremsen3" (click)="agregarCarro(2)" ><i class="fa fa-plus"></i> Carro</button>

              </td>
              <td  style="text-align: right;">
                   <button class="btn btn-default"  type="button" aria-expanded="false" (click)="agregarCarro(1)" >
                      COMPRAR
                    </button>


              </td>
            </tr>
              </table>
              <table class="table2 table table-precio" *ngIf="producto.STOCK[0].codigo==0">
                <tbody>
                  <tr>
              
                    <td class="col-md-12" style="text-align: right;">
                      
                      <div class="collapse in" id="collapseExample" style="text-align: left !important;" aria-expanded="true">
                        <div class="well">
                          <br> Deja tus datos y te contactaremos con la confirmación.
                          <br>
                          <form name="form" (ngSubmit)="f.form.valid && enviaCorreoConfirmacion()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombreCompleto.valid }">
                              <label for="">Nombre completo</label>
                            <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" #nombreCompleto="ngModel" [(ngModel)]="nombreCompletoValue"
                              required>
                            <div *ngIf="f.submitted && !nombreCompleto.valid" class="help-block">Nombre completo es requerido</div>
                            </div>
              
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailcliente.valid }">
                              <label for="">Email</label>
                              <input type="text" class="form-control" id="emailcliente" name="emailcliente" #emailcliente="ngModel" [(ngModel)]="emailclienteValue"
                                required>
                              <div *ngIf="f.submitted && !emailcliente.valid" class="help-block">Email es requerido</div>
                            </div>
                          
                          <button type="submit" class="btn btn-default bremsen">Enviar</button>
                          </form>
                        </div>
                      </div>
                      <div *ngIf="estadoEnvio" [ngClass]="'success'"> Hemos recibido tus datos, te confirmaremos la llegada. </div>
                    </td>
                  </tr>
                </tbody>
              </table>

<div *ngIf="estadoCarro" [ngClass] = "'success'"> Producto fue agregado correctamente. </div>
                <div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>

      </div>


             <h3>Ficha técnica</h3>
             <hr>
            <table class="table table-bordered table-striped">
                 <colgroup> <col class="col-xs-6"> <col class="col-xs-6"> </colgroup>

                 <tbody>
                  <tr>
                      <th scope="row">Marca</th>
                      <td>{{producto.MARCA}}</td>
                  </tr>
                  <tr>
                      <th scope="row">Modelo</th>
                      <td>{{producto.MODELO}}</td>

                  </tr>
                   <tr>
                       <th scope="row">Ancho</th>
                        <td>{{producto.ANCHO}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Perfil </th>
                        <td>{{producto.PERFIL}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Dimensiones</th>
                        <td>{{producto.MEDIDA}}</td>
                    </tr>
                     <tr>
                        <th scope="row">Peso</th>
                        <td>{{producto.PESO}} kg</td>
                    </tr>
                     <tr>
                        <th scope="row">Indice de carga/ velocidad</th>
                        <td>{{producto.CARGA}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Runflat</th>
                        <td>{{producto.RUNFLAT}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Instalación gratis</th>
                        <td>{{producto.INCLUYE_INSTALACION}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Despacho gratis</th>
                        <td>{{producto.DESPACHO}}</td>
                    </tr>
                 </tbody>
               </table>



                <iframe class="video" width="632"  height="365" [src]="producto.VIDEO" frameborder="0" allowfullscreen></iframe>

              </div>
            </div>



          </div>
        </div>
        <!--Middle Part End -->


      </div>
    </div>
  </div>
 <script>
                        $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                      })
</script>
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document" >
                          <div class="modal-content" style="padding-left: 8px;">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 33px; color: #fff !important;">×</span></button>  </div><br>
                            <h3 style="color: #fff !important;">Producto agregado al carro</h3>
                            <div class="pad-10">&nbsp;</div>
                             </div>
                        </div>
                    </div>
