<div id="container">
  <div class="container">
<br>
    <div class="row">

      <div class="col-md-12">
        <ul class="breadcrumb" style="padding-top:16px;">
          <li>
            <a routerLink="/">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>
            Pagina actual
          </li>
        </ul>
        <h1>Formas de instalación y despacho</h1>
        <br>
        <h4>Contamos con múltiples forma de instalación para que cambies tus neumáticos de la forma que más te acomode</h4>
        <div class="pad-15">&nbsp;</div>

      </div>

      <div class="col-md-12 padBottom">
        <div class="col-md-4" style="padding-top: 40px;">
          <img src="assets/image/Instalacion-a-domicilio-04.png" width="100px" class="img-responsive center-block">
          <h2 class="text-center">Instalación
            <br> a domicilio</h2>
        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>En qué consiste?</h3>
            <p>Nuestro equipo te visitará en el lugar que indiques. Instalamos y balanceamos tus neumáticos sin que tengas que
              moverte de casa. El servicio tiene un costo general de $40.000, siendo gratis por compras superiores a $400.000.
              Servicio disponible dentro del perímetro de Américo Vespucio.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>Como funciona?</h3>
            <p>
              <b>En el carro de compras:</b>
              <br> 1. Clickea instalación a domicilio
              <br> 2. Selecciona tu comuna
              <br> 3. Ingresa tu dirección
              <br> 4. Ingresa el nombre de quien entregará el vehículo.
              <br> Nuestro equipo te contactará vía mail para coordinar fecha, hora y encargado de la instalación. Disfruta del
              servicio</p>
          </div>
        </div>
        <hr>
      </div>



      <div class="col-md-12 padBottom">
        <div class="col-md-4" style="padding-top: 50px;">
          <img src="assets/image/retiro-a-domicilio-05.png" width="100px" class="img-responsive center-block ">
          <h2 class="text-center">Retiramos
            <br> tu auto</h2>

        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>En qué consiste?</h3>
            <p>Nuestro equipo te visitará en el lugar que indiques para retirar tu auto, llevarlo al cambio de neumáticos y
              finalmente devolverlo en el mismo lugar donde fue retirado. Es importante ingresar correctamente los datos
              de quien entrega el vehículo, de lo contrario el retiro no será efectuado. El servicio tiene un costo general
              de $40.000 pesos, siendo gratuito por compras superiores a $400.000 pesos.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>Como funciona?</h3>
            <p>
              <b>En el carro de compras:</b>
              <br> 1. clickea retiramos tu auto
              <br> 2. selecciona tu comuna
              <br> 3. Ingresa tu dirección
              <br> 4. Ingresa el nombre y R.U.T de quien entregará el vehículo.
              <br> Nuestro equipo te contactará vía mail para coordinar fecha, hora y encargado del retiro. Disfruta del servicio.</p>
          </div>
        </div>
        <div class="pad-50">&nbsp;</div>

      </div>


      <div class="col-md-12 padBottom">
        <div class="col-md-4" style="padding-top: 40px;">
          <img src="assets/image/talleres-asociados-06.png" width="100px" class="img-responsive center-block">
          <h2 class="text-center">Instalación
            <br> en talleres</h2>
        </div>
        <div class="col-md-4">
          <div style="width: 90%;">
            <h3>En qué consiste?</h3>
            <p>Contamos con una amplia red de talleres asociados para el montaje de tus neumáticos. El despacho hasta el taller
              e instalación (montaje y balanceo) son completamente gratuitas para nuestros clientes. Encuentra el más cercano
              a ti clickeando
              <a class="btn btn-primary btn-xs" role="button" data-toggle="collapse" href="#collapseExampleaqui" aria-expanded="false" aria-controls="collapseExample">Aquí
                <i class="fa fa-caret-down"></i>
              </a>
            </p>
          </div>
        </div>
        <div>
        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>Como funciona?</h3>
            <p>
              <b>En el carro de compras:</b>
              <br> 1. Clickea instalación en talleres $0
              <br> 2. Selecciona región y comuna
              <br> 3. Selecciona el taller más cercano
              <br> 4. Selecciona fecha y bloque horario.
              <br> En la fecha agendado dirigete al taller para montar y balancear tus neumáticos de forma absolutamente gratuita.</p>
          </div>
        </div>
        <div class="pad-50">&nbsp;</div>
        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-8">
          <div class="collapse" id="collapseExampleaqui">
            <div class="well">
              <h2>Listado de talleres</h2>
              <table class="table table-bordered table-striped">
                <colgroup>
                  <col class="col-xs-6">
                  <col class="col-xs-6"> </colgroup>

                <tbody>
                  <tr style="background:#e00034;">
                    <th scope="row" style="color: #fff;">Región Metropolitana</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Santiago</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Cerrillos</th>
                    <td>Av. El Parrón 199. La Cisterna</td>

                  </tr>
                  <tr>
                    <th scope="row">Cerro Navia</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>

                  <tr>
                    <th scope="row">El Bosque</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">Estación Central</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Huechuraba</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Independencia</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">La Cisterna</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">La Florida</th>
                    <td>Avenida Americo Vespucio 1088. Peñalolén</td>
                  </tr>
                  <tr>
                    <th scope="row">La Granja</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">La Pintana</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">La Reina</th>
                    <td>Av Francisco Bilbao 5350, La Reina</td>
                  </tr>
                  <tr>
                    <th scope="row">Las Condes</th>
                    <td>Av. Las Condes 8628. Las Condes</td>
                  </tr>
                  <tr>
                    <th scope="row">Lo Barnechea</th>
                    <td>Av. Las Condes 8628. Las Condes</td>
                  </tr>
                  <tr>
                    <th scope="row">Lo Espejo</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">Lo Prado</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Macul</th>
                    <td>Mall Paseo Quilín. Peñalolén</td>
                  </tr>
                  <tr>
                    <th scope="row">Maipú</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Ñuñoa</th>
                    <td>Mall Paseo Quilín. Peñalolén</td>
                  </tr>
                  <tr>
                    <th scope="row">Pedro Aguirre Cerda</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">Peñalolén</th>
                    <td>Mall Paseo Quilín. Peñalolén</td>
                  </tr>
                  <tr>
                    <th scope="row">Providencia</th>
                    <td>Av. Las Condes 8628. Las Condes</td>
                  </tr>
                  <tr>
                    <th scope="row">Pudahuel</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Quilicura</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Quinta Normal</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Recoleta</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">Renca</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">San Joaquín</th>
                    <td>Avenida Americo Vespucio 1088. Peñalolén</td>
                  </tr>
                  <tr>
                    <th scope="row">San Miguel</th>
                    <td>Av. 10 de Julio 1042-1046. Santiago</td>
                  </tr>
                  <tr>
                    <th scope="row">San Ramón</th>
                    <td>Av. El Parrón 199. La Cisterna</td>
                  </tr>
                  <tr>
                    <th scope="row">Vitacura</th>
                    <td>Av. Las Condes 8628. Las Condes</td>
                  </tr>
                  <tr>
                    <th scope="row">Melipilla </th>
                    <td>Vicuña Mackenna 783. Melipilla</td>
                  </tr>
                  <tr>
                    <th scope="row">El Monte</th>
                    <td>Vicuña Mackenna 783. Melipilla</td>
                  </tr>
                  <tr>
                    <th scope="row">Isla de Maipo</th>
                    <td>Vicuña Mackenna 783. Melipilla</td>
                  </tr>
                  <tr style="background:#e00034;">
                    <th scope="row" style="color: #fff;">V Región</th>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Valparaíso</th>
                    <td>Chacabuco 2333. Valparaíso</td>
                  </tr>
                  <tr>
                    <th scope="row">Casablanca</th>
                    <td>Chacabuco 2333. Valparaíso</td>
                  </tr>
                  <tr>
                    <th scope="row">Concón</th>
                    <td>San Antonio 950. Viña del Mar</td>
                  </tr>
                  <tr>
                    <th scope="row">Quilpué</th>
                    <td>Chacabuco 2333. Valparaíso</td>
                  </tr>
                  <tr>
                    <th scope="row">Viña del Mar</th>
                    <td>San Antonio 950. Viña del Mar</td>
                  </tr>
                  <tr>
                    <th scope="row">San Antonio</th>
                    <td>Barros Luco 2211. San Antonio</td>
                  </tr>
                  <tr>
                    <th scope="row">San Felipe</th>
                    <td>Yungay 369. San Felipe</td>
                  </tr>
                  <tr>
                    <th scope="row">Quillota</th>
                    <td>Maipú 505. Quillota</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

      </div>


      <div class="col-md-12">
        <div class="col-md-4" style="padding-top: 50px;">
          <img src="assets/image/despacho-a-domicilio-07.png" width="100px" class="img-responsive center-block">
          <h2 class="text-center">Despacho
            <br>a domicilio</h2>
        </div>
        <div class="col-md-4">
          <div style="width: 90%">
            <h3>En qué consiste?</h3>
            <p>Nos encargamos de enviar tus neumáticos hasta la puerta de tu casa en un tiempo estimado de 3 días hábiles (Dentro
              de Santiago) . El valor del servicio esta sujeto a la dirección ingresada. Los despachos son realizados de
              lunes a viernes entre las 9:00 - 19:00 hrs, los productos pueden ser recibidos por cualquier persona mayor
              de 18 años que se encuentre en el inmueble al momento de la entrega </p>
          </div>

        </div>

        <div class="col-md-4">
          <div style="width: 90%">
            <h3>Como funciona?</h3>
            <p>
              <b>En el carro de compras:</b>
              <br> 1. Clickea despacho a domicilio.
              <br> 2. Selecciona región y comuna.
              <br> 3. Ingresa tu dirección.
              <br> Finaliza tu compra y disfruta del servicio</p>
          </div>
        </div>
        <div class="pad-50">&nbsp;</div>

      </div>
    </div>
    <!--row-->

  </div>
</div>
<div class="pad-50">&nbsp;</div>


<div class="container-fluid" style="background: #F2F2F2; margin-bottom: -80px;">
  <div class="container">
    <div class="pad-10">&nbsp;</div>

    <div class="row">
      <div class="col-md-2">&nbsp;</div>

      <div class="col-md-8">
        <table class="table2 table table-precio">

          <tbody>

            <tr>
              <td colspan="2">
                <h3 class="text-center">¡Regístrate para recibir ofertar personalizadas!</h3>
              </td>
            </tr>

            <tr style="text-align:center;">
              <td class="col-sm-6">
                <button type="button" routerlink="/categoria" class="btn btn-default btn-lg btn-block">Comprar</button>
              </td>
              <td class="col-sm-6">
                <button type="submit" routerLink="/registro" class="btn btn-primary btn-lg btn-block">Crear cuenta</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-2">&nbsp;</div>
    </div>
  </div>
  <div class="pad-10">&nbsp;</div>

</div>