 <!--Footer Start-->
  <footer id="footer">
    <div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="contact col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <img alt="" class="img-responsive" src="assets/image/logo-small.png">
          </div>
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h5>Contáctanos</h5>
            <table>
              <tr>
                  <td><a target="_blank" href="https://www.facebook.com/bremsen.santiago.1"><i style="font-size: 28px;" class="fa fa-facebook-square" aria-hidden="true"></i></a></td>
                  <td>&nbsp; &nbsp;  &nbsp;</td>
                   <td><a target="_blank" href="https://www.instagram.com/bremsen.cl/"><i style="font-size: 28px;" class="fa fa-instagram" aria-hidden="true"></i></a></td>
              </tr>
            </table>

          </div>
          <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-12">

            <ul>
              <li><a routerLink="/preguntas">Preguntas frecuentes</a></li>
              <li><a routerLink="/terminos">Términos y condiciones</a></li>

            </ul>
          </div>
          <div class="column col-lg-31   col-md-3 col-sm-3 col-xs-12">
               <img alt="" class="img-responsive responsivo" src="assets/image/webpay-456x200.png">
          </div>

        </div>
      </div>
    </div>
  </footer>
  <!--Footer End-->
