 <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a routerLink="/home"><i class="fa fa-home"></i></a></li>
        <li>Crear Cuenta</li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-8">
        <h1 class="title">Formulario de registro</h1>


       <form *ngIf="!registrado" name="form" (ngSubmit)="f.form.valid && saveRegistro()" #f="ngForm" novalidate>
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombreCompleto.valid }">
                    <label for="nombreCompleto">Nombre completo</label>
                        <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" #nombreCompleto="ngModel" [(ngModel)]="cliente.nombreCompleto" required>
                     <div *ngIf="f.submitted && !nombreCompleto.valid" class="help-block">Nombre completo es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email1.valid }">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email1" [(ngModel)]="cliente.email" #email1="ngModel" required>
                  <div *ngIf="f.submitted && !email1.valid" class="help-block">Email es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefono.valid }">
                    <label for="telefono">Telefono</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="cliente.telefono" #telefono="ngModel" required>
                 <div *ngIf="f.submitted && !telefono.valid" class="help-block">Telefono es requerido</div>
                  </div>


                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !genero.valid }">
                    <label for="genero">Genero </label>
                      <select class="form-control" id="genero" name="input-select" name="genero" #genero="ngModel" [(ngModel)]="cliente.genero" required>
                        <option value="1" selected="selected">Masculino </option>
                        <option value="2">Femenino </option>
                    </select>
                      <div *ngIf="f.submitted && !genero.valid" class="help-block">Debe seleccionar su sexo</div>
                  </div>
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccion.valid }">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="cliente.direccion" #direccion="ngModel" required>
                  <div *ngIf="f.submitted && !direccion.valid" class="help-block">Dirección es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !regionValido }">
                    <label for="region">Región </label>
                      <select class="form-control" #selectedRegion (change)="cambiaCiudad(selectedRegion.value)" name="region1" #region1="ngModel" [(ngModel)]="cliente.region" id="region1">
                        <option *ngFor="let region of _is.regiones" [value]="region[0]">{{region[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !regionValido" class="help-block">Debe seleccionar una region</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !ciudadValido }">
                    <label for="ciudad">Ciudad </label>
                    <select *ngIf="_is.ciudades.length > 0" #selectedCiudad class="form-control" (change)="cambiaComuna(selectedCiudad.value)" #ciudad1="ngModel" name="ciudad1" id="ciudad1" [(ngModel)]="cliente.ciudad">
                      <option  *ngFor="let ciudad of _is.ciudades" [value]="ciudad[0]">{{ciudad[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !ciudadValido" class="help-block">Debe seleccionar una ciudad</div>
                  </div>

                   <div class="form-group" [ngClass]="{ 'has-error': !comunaValido }">
                    <label for="comuna">Comuna </label>
                      <select *ngIf="_is.comunas.length > 0" #selectedComuna class="form-control" id="input-select" name="input-select" #comuna1="ngModel" name="comuna1" id="comuna1" [(ngModel)]="cliente.comuna">
                        <option  *ngFor="let comuna of _is.comunas" [value]="comuna[0]">{{comuna[1]}}</option>
                    </select>
                       <div *ngIf="f.submitted && !comunaValido" class="help-block">Debe seleccionar una comuna</div>
                  </div>
                  <div class="form-group required">
                    <label for="">Nueva contraseña</label>
                    <input type="password" class="form-control" name="nueva1" id="nueva1" [(ngModel)]="nueva1">
                  </div>

                  <div class="form-group required">
                    <label for="">Repetir nueva contraseña </label>
                    <input type="password" class="form-control" name="nueva2" id="nueva2" [(ngModel)]="nueva2">
                  </div>
         <div class="col-md-12"  style="padding: 25px 0px 25px 0px; ">
            <button [disabled]="loading" class="btn btn-default btn-block">Crear cuenta</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <p class="lead">Tranfiere directamente a nuestra cuenta y envia el comprobante a xxxx@bremsen.cl</p>
        </div>
         <div *ngIf="estado" [ngClass] = "'success'"> Cliente fue agregado correctamente. </div>
        <div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>
        <div *ngIf="errorPass" [ngClass] = "'error'">{{errorMsg}}</div>
         </form>
      <div class="container" *ngIf="registrado">
      <div class="row">
            <div class="col-md-7">
             <div class="pad-15">&nbsp;</div>
                <h1>Bienvenido!</h1>
                <p>Ya tienes una cuenta en <b>Bremsen</b>, ahora podras comprar tus neumáticos más facil.</p>
                <br>
                  <a href="index.html">  <button class="btn btn-default"><span>Ir a comprar</span></button></a>

            </div>
      </div>
  </div>
        </div>

        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside class="col-sm-4 hidden-xs" id="column-right" style="padding-top: 49px; padding-right: 0px;">

          <div class="col-md-3"></div>
            <div class="col-md-9" style=" border: 1px solid #ccc;">
              <br>
                  <h3 class="subtitle">Ya tienes cuenta?</h3>
                 <form name="formLogin" (ngSubmit)="f2.form.valid && login()" #f2="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !username2.valid }">
                      <label for="username">Email</label>
                      <input type="text" class="form-control" name="username2" [(ngModel)]="model.username" #username2="ngModel" required />
                      <div *ngIf="f2.submitted && !username2.valid" class="help-block">Usuario es requerido</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !password2.valid }">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password2" [(ngModel)]="model.password" #password2="ngModel" required />
                      <div *ngIf="f2.submitted && !password2.valid" class="help-block">Password es requerido</div>
                  </div>

                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><small>Recordarme</small>
                      </label>
                    </div>
                   <button [disabled]="loading2" class="btn btn-default btn-block">Entrar</button>
                          <img *ngIf="loading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          <div *ngIf="error2" class="alert alert-danger">{{error2}}</div>
                  </form>

                <br>
            </div>



        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>


