  <div id="header">


    <!-- Top Bar Start-->

    <!--
   <nav id="top" class="htop">
      <div class="container">
        <div class="row">
          <div class="pull-right flip left-top searchBuscar">
            <div id="search" class="input-group">
              <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
              <button type="button" class="button-search"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div class="nav pull-right flip">

            <div class="links">
              <ul>
                <li><a href="#"  style="color: #fff;">Live Chat</a></li>
                <li class="mobile">
                <span><i style="color:#1bd744;" class="fa fa-whatsapp" aria-hidden="true"></i>
                  &nbsp; <i style="color: #fff;" class="fa fa-phone"></i></span> <span> <a href="tel:+56989568901"><b style="color:#fff;">+56 9 8956 8901</b></a></span>
                </li>

              </ul>
            </div>

          </div>
          <div id="top-links" class="nav pull-right flip">

         <div id="cart">
              <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
              <span id="cart-total">Ingresa / Registrate</span></button>
             <ul class="dropdown-menu">
                <li>
                  <div>
           <form><br>
                  <div class="form-group required">
                    <label style="color:#1e1e1e;" for="">Email</label>
                    <input type="email" class="form-control" id="" >
                  </div>

                    <div class="form-group required">
                    <label style="color:#1e1e1e;" for="">Contraseña</label>
                    <input type="password" class="form-control" id="" >
                  </div>
                  <table class="table" style="margin-bottom: 0px !important;">
                  	<tr>
                  		<td style="padding: 0px;">
                  			<div class="checkbox" style="margin-top: 0px;">
								<label>
								  <input type="checkbox"><span  style="color:#1e1e1e; ">Recordarme</span>
								</label>
							</div>
                 		</td>
                  		<td style="text-align: right; padding: 0px;"><span><a style="color:#6b8bc0;" href="#">¿Olvidaste tu clave?</a></span></td>
                  	</tr>
                  </table>

			</form>
                    <table class="table  table-precio" style="font-size: 14px;"
                <tbody>
                <tr>

                  <td class="text-right">
                    <button type="button" class="btn btn-default btn-block">Log in</button><br>
                   <a href="#"><small>¿Aun no tienes cuenta?</small></a><br>
                   <button type="button" class="btn btn-primary btn-block">Crear cuenta</button></td>
                </tr>
              </tbody></table>

                  </div>
                </li>
              </ul>
            </div>



          </div>
        </div>
      </div>
    </nav>-->

     <nav id="top" class="htop">
      <div class="container">

        <div class="row" *ngIf="autenticado">
			<div class="col-md-1">&nbsp;</div>
        	<div class="col-md-5">
        			<div id="cart">
              <button type="button" class="heading " style="  padding-right: 15px;">
              <span id="cart-total"><small><a routerLink="/misdatos" style="color: #fff;">Mi cuenta, {{nombreCliente}}</a><a (click)="logout()" style="color: #fff;">&nbsp; / Cerrar sesión</a></small></span></button>

            </div>
        	</div>

        	<div class="col-md-3 center-block text-center" style="padding-top: 7px;">
        		 <div class="links">
			

						<span> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;<i style="color:#1bd744;" class="fa fa-whatsapp" aria-hidden="true"></i>
						  &nbsp; <i style="color: #fff;" class="fa fa-phone"></i></span>

					 <span> <a href="tel:+56989568901"><b style="color:#fff;">+56 9 8956 8901</b></a></span>

					</div>
        	</div>

        	<div class="col-md-1">&nbsp;</div>
			<div class="col-md-2">
					 <div id="search" class="input-group">
					  <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" [(ngModel)]="searchValue">
					  <button type="button" class="button-search" (click)="inSearch()"><i class="fa fa-search"></i></button>
					</div>
            </div>
    </div>

        <div class="row" *ngIf="!autenticado">
			<div class="col-md-3">&nbsp;</div>
        	<div class="col-md-3">
        			<div id="cart">
              <button type="button" (click)="activaLogin()" data-loading-text="Loading..." class="heading dropdown-toggle" style="  padding-right: 15px;">
              <span id="cart-total">Ingresa / Registrate</span></button>
              <span *ngIf="muestraLogin" 
              style=" clear: both;
              content: ' ';
              display: block;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: transparent transparent #ccc;
              position: absolute;
              border-width: 0px 7px 6px 7px;
              bottom: 0px;
              left: 50%;
              margin: 0 0 0 -5px;
              z-index: 1012;"></span>
             <ul class="dropdown-menu" style="display:inline" *ngIf="muestraLogin">
                <li>
                  <div>
           <br>
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Email</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Usuario es requerido</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password es requerido</div>
        </div>
                      <table class="table" style="margin-bottom: 0px !important;">
                        <tr>
                          <td style="padding: 0px;">
                            <div class="checkbox" style="margin-top: 0px;">
                    <label>
                      <input type="checkbox"><span  style="color:#1e1e1e; ">Recordarme</span>
                    </label>
                  </div>
                        </td>
                          <td style="text-align: right; padding: 0px;"><span><a style="color:#6b8bc0;" routerLink="/olvido">¿Olvidaste tu clave?</a></span></td>
                        </tr>
                      </table>

                    <table class="table  table-precio" style="font-size: 14px;">
                      <tbody>
                      <tr>






                        <td class="text-right">
                          <button [disabled]="loading" class="btn btn-default btn-block">Log in</button>
                          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

                          <br>

                        <a (click)="muestraLogin = false" routerLink="/registro"><small>¿Aun no tienes cuenta?</small></a><br>
                        <button type="button" (click)="muestraLogin = false" routerLink="/registro" class="btn btn-primary btn-block">Crear cuenta</button></td>
                      </tr>
                    </tbody>
                  </table>
              </form>
                  </div>
                </li>
              </ul>
            </div>
        	</div>

        	<div class="col-md-3 center-block text-center" style="padding-top: 7px;">
        		 <div class="links">
				

						<span> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;<i style="color:#1bd744;" class="fa fa-whatsapp" aria-hidden="true"></i>
						  &nbsp; <i style="color: #fff;" class="fa fa-phone"></i></span>

					 <span> <a href="tel:+56989568901"><b style="color:#fff;">+56 9 8956 8901</b></a></span>

					</div>
        	</div>

        	<div class="col-md-1">&nbsp;</div>
			<div class="col-md-2" >
					 <div id="search" class="input-group">
            <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" [(ngModel)]="searchValue">
            <button type="button" class="button-search" (click)="inSearch()">
              <i class="fa fa-search"></i>
            </button>
					</div>
            </div>
		</div>
		 </div>
	</nav>




    <!-- Top Bar End-->
    <!-- Header Start-->
    <header class="header-row">
      <div class="container" style="padding-right: 0px;">
        <div class="table-container">
          <!-- Logo Start -->
          <div class="col-table-cell col-lg-1 col-md-1 col-sm-12 col-xs-12 inner">
            <div id="logo"><a href="index.html"><img class="img-responsive" src="assets/image/logo.png" width="200" title="MarketShop" alt="MarketShop" /></a></div>
          </div>
          <!-- Logo End -->
          <!-- Mini Cart Start-->


          <!-- Search Start-->
          <div class="col-table-cell col-lg-2 col-md-2 col-sm-6 col-xs-12 inner">
<!--
            <nav id="menu" class="navbar custom-link-center">

                      <div class="navbar-header">  <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify" style="font-size: 30px;"></i></span></div>

                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                          <li class="dropdown sub"> <a href="category.html">Neumático &nbsp; &nbsp;</a>

                              </li>
                          <li><a class="home_link" title="Home" href="#">Instalación &nbsp; &nbsp;</a></li>
                           <li><a class="home_link" title="Home" href="#">Bremsen &nbsp; &nbsp;</a></li>
                          <li class="dropdown"><a href="blog.html">Blog &nbsp; &nbsp;</a></li>

                        </ul>
                      </div>

                    </nav>
                  -->




      <nav id="menu" class="navbar noView">

        <div class="navbar-header">  <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify" style="font-size: 30px;"></i></span></div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a class="home_link" title="Neumaticos" routerLink="/categoria">Neumáticos &nbsp; &nbsp;</a></li>
            <li><a class="home_link" title="Instalacion" routerLink="/instalacion">Instalación &nbsp; &nbsp;</a></li>
             <li><a class="home_link" title="Bremsen" routerLink="/bremsen">Bremsen &nbsp; &nbsp;</a></li>
            <li><a class="home_link" title="Blog" routerLink="/blog">Blog &nbsp; &nbsp;</a></li>

          </ul>
        </div>

      </nav>

<!--  boton nabvar -->
<br>
      <a class="btn btn-default View"  role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-align-justify" style="font-size: 30px;"></i>
      </a>
      <div class="collapse" id="collapseExample">
        <div class="well">
          <ul class="nav navbar-nav">
            <li><a style="color: #fff; text-transform: uppercase; text-align: left; font-size:16px;" class="home_link" title="Neumaticos" routerLink="/categoria">Neumáticos &nbsp; &nbsp;</a></li>
            <li><a style="color: #fff; text-transform: uppercase; text-align: left; font-size:16px;" class="home_link" title="Instalacion" routerLink="/instalacion">Instalación &nbsp; &nbsp;</a></li>
            <li><a style="color: #fff; text-transform: uppercase; text-align: left; font-size:16px;" class="home_link" title="Bremsen" routerLink="/bremsen">Bremsen &nbsp; &nbsp;</a></li>
            <li><a style="color: #fff; text-transform: uppercase; text-align: left; font-size:16px;" class="home_link" title="Blog" routerLink="/blog">Blog &nbsp; &nbsp;</a></li>

          </ul>
        </div>
      </div>


<!-- cierre boton nabvar -->

         </div>
          <!-- Search End-->

          <div class="col-table-cell col-lg-1 col-md-1 col-sm-6 col-xs-12">
            <div id="cart">
              <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;
              <span id="cart-total">{{cantidadProductos}} item(s) - {{totalCarro  | number | currencyFormat}}</span></button>
             <ul class="dropdown-menu">
                <li>
                  <table class="table">
                    <tbody>

                      <tr *ngFor="let producto of carroCompra">
                        <td class="text-center col-md-2"><a routerLink="/producto/{{producto.ID}}"><img class="img-thumbnail" title="" alt="" width="60px" src="assets/image/product/540x576.jpg"></a></td>
                        <td class="text-left col-md-5"><a routerLink="/producto/{{producto.ID}}">{{producto.MARCA}} {{producto.MODELO}}</a></td>
                        <td class="text-right col-md-2">x {{producto.cantidadCarro}}</td>
                        <td class="text-right col-md-3"><b>{{producto.totalParcial  | number | currencyFormat}}</b></td>
                        <!--td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td-->
                      </tr>

                    </tbody>
                  </table>
                </li>
                <li>
                  <div>
                    <table class="table  table-precio" style="font-size: 14px; ">
                <tbody>
                <tr>
                 <td></td>
                  <td class="text-right" *ngIf="!logueado">
                    <button type="button" class="btn btn-default btn-block" (click)="insertaFlagPago(1)">Comprar con mi cuenta</button><br>
                   <a href="#"><small>¿Aun no tienes cuenta?</small></a><br>
                   <button type="button" class="btn btn-primary btn-block" (click)="insertaFlagPago(2)">Comprar como visita</button></td>
                </tr>
                  <tr>
                 <td></td>
                  <td class="text-right" *ngIf="logueado">
                    <button type="button" class="btn btn-default btn-block" routerLink="carro">Ir a mi Carrito</button>
                </tr>
              </tbody></table>

                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- Mini Cart End-->
        </div>
      </div>
    </header>
    <!-- Header End-->
    <!-- Main Menu Start-->




  </div>
