
<div class=" bg-bremsen container-fluid" > <!-- pasar el css-->
  <div class="container">
      <div class="pad-50">&nbsp;</div>
          <div class="row">
              <div class="col-md-6">&nbsp;</div>
                <div class="col-md-6">
                    <h1><b>Home/ micuenta</b></h1>
                </div>
          </div><!--row-->
        <div class="pad-50">&nbsp;</div>

  </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-md-2">
               <div class="pad-15">&nbsp;</div>
              <img src="assets/image/checkverde-04.png" class="img-responsive">
            </div>

          <div class="col-md-10">
           <div class="pad-15">&nbsp;</div>
              <h1>Felicitaciones!</h1>
              <h3>Transacción realizada correctamente</h3>
              <p>Registrando tus datos podrás agilizar futuras compras y obtener ofertas personalizadas. Desde tu cuenta podrás editar tu datos, ver tu historial de compras y registrar datos de facturación.</p>
              <br>
              <img src="assets/image/logo-webpay-plus-3.png">

              <h4>Datos de la Transferencia</h4>
              <table class="table">
                  <tr>
                      <td>Tarjeta:</td>
                      <td>XXXX-{{data.Tbk_numero_final_tarjeta}}</td>
                  </tr>
                  <tr>
                      <td>N° Orden de compra:</td>
                      <td>{{ parametros.id }}</td>
                  </tr>
                  <tr>
                      <td>Nombre del Comercio:</td>
                      <td>Bremsen</td>
                  </tr>
                  <tr>
                      <td>URL del comercio:</td>
                      <td>http://www.bremsen.cl</td>
                  </tr>
                  <tr>
                      <td>Monto:</td>
                      <td>{{data.Tbk_monto | number | currencyFormat}}</td>
                  </tr>
                  <tr>
                      <td>Moneda:</td>
                      <td>Pesos Chilenos</td>
                  </tr>
                  <tr>
                      <td>Fecha transacción:</td>
                      <td>{{data.Tbk_fecha_transaccion}}</td>
                  </tr>
                  <tr>
                      <td>Nombre Comprador:</td>
                      <td>{{data.nombreCliente}}</td>
                  </tr>
                  <tr>
                      <td>Código Autorización:</td>
                      <td>{{data.Tbk_codigo_autorizacion}}</td>
                  </tr>
                  <tr>
                      <td>Tipo de transacción:</td>
                      <td>Venta</td>
                  </tr>
                  <tr>
                      <td>Tipo de Cuota</td>
                      <td>{{data.tipo_cuotas}}</td>
                  </tr>
                  <tr>
                      <td>Tipo de Pago</td>
                      <td>{{data.Tbk_tipo_pago}}</td>
                  </tr>
                  <tr>
                      <td>Número de cuotas</td>
                      <td>{{data.Tbk_numero_cuotas}}</td>
                  </tr>
                  <tr>
                      <td><b>Descripción del Producto</b></td>
                      <td><b>Cantidad</b></td>
                  </tr>
                <tr *ngFor="let producto of data.productosComprados">
                    <td>
                        <b>{{producto.MARCA}} {{producto.MODELO}} {{producto.MEDIDA}}</b>
                    </td>
                    <td>
                        <b>{{producto.CANTIDAD}}</b>
                    </td>
                </tr>
              </table>
                 <br>
                 <p>Te hemos enviado un mail de confirmación con los detalles  de tu compra</p>
                  <br><br>
          </div>
    </div>
    <div class="row">
      <div class="col-md-2">
           <button class="btn btn-default" routerLink="/home">Volver al home</button>
      </div>

    </div>
</div>

