<div class=" bg-bremsen container-fluid" > <!-- pasar el css-->
    <div class="container">
        <div class="pad-50">&nbsp;</div>
            <div class="row">
                    <div class="col-md-6 blanco" style="padding:5%;">

                        <div class="col-md-12">
                        <h1><b style="color:#1e1e1e !important;">POR QUÉ</b><br><b style="color: #e00034;">BREMSEN</b></h1>
                        <p style="color: #1e1e1e; line-height: 28px; padding-bottom: 44px;">Entendemos el valor que tiene tu tiempo y por eso, hemos diseñado un servicio integral con el cual ya no pierdes tiempo al cambiar tus neumáticos. Desde ahora dedica el tiempo a lo que realmente quieres, ¡nosotros nos encargamos del resto!</p>
                       <br>
                        <i>Tomás Zuñiga - Cristian Ogaz</i>
                        </div>
                    </div>

                    <div class="col-md-6 img-bremsen">
                       &nbsp;

                    </div>
            </div><!--row-->
          <div class="pad-50">&nbsp;</div>
          <div class="pad-10">&nbsp;</div>
          <div class="pad-10">&nbsp;</div>
    </div>
</div>



<div class="container">
            <div class="pad-50">&nbsp;</div>

          <!-- Brand Logo Carousel Start-->
          <div id="carousel" class="owl-carousel nxt">
            <div class="item text-center"><img src="assets/image/testimonio-01.jpg" alt="" class="img-responsive" /></div>
            <div class="item text-center"><img src="assets/image/testimonio-02.jpg" alt="" class="img-responsive" /></div>
            <div class="item text-center"><img src="assets/image/testimonio-03.jpg" alt="" class="img-responsive" /></div>
            <div class="item text-center"><img src="assets/image/testimonio-03.jpg" alt="" class="img-responsive" /></div>

            <div class="item text-center"><img src="assets/image/testimonio-04.jpg" alt="" class="img-responsive" /></div>
            <div class="item text-center"><img src="assets/image/testimonio-05.jpg" alt="" class="img-responsive" /></div>
            <div class="item text-center"><img src="assets/image/testimonio-06.jpg" alt="" class="img-responsive" /></div>
          </div>

  </div>
