<div class=" bg-bremsen container-fluid" > <!-- pasar el css-->
    <div class="container">
        <div class="pad-50">&nbsp;</div>
            <div class="row">
                    <div class="col-md-6 blanco" style="padding:5%;">

                        <div class="col-md-12">
                        <h1><b style="color:#1e1e1e !important;">POR QUÉ</b><br><b style="color: #e00034;">BREMSEN</b></h1>
                        <p style="color: #1e1e1e; line-height: 28px; padding-bottom: 44px;">Entendemos el valor que tiene tu tiempo y por eso, hemos diseñado un servicio integral con el cual ya no pierdes tiempo al cambiar tus neumáticos. Desde ahora dedica el tiempo a lo que realmente quieres, ¡nosotros nos encargamos del resto!</p>
                       <br>
                        <i>Tomás Zuñiga - Cristian Ogaz</i>
                        </div>
                    </div>

                    <div class="col-md-6 img-bremsen">
                       &nbsp;

                    </div>
            </div><!--row-->
          <div class="pad-50">&nbsp;</div>
          <div class="pad-10">&nbsp;</div>
          <div class="pad-10">&nbsp;</div>
    </div>
</div>



<div class="container">
            <div class="pad-50">&nbsp;</div>

    <div class="row">
            <div class="col-sm-4">
              <div class="feature-box well" style="background: #F2F2F2;">
                <div class="feature-content">
                  <h4>Nombre</h4>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>

                  <p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec, rhonc us eget, sollicitudin eu.</p>
                 </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="feature-box well"  style="background: #F2F2F2;">
                <div class="feature-content">
                  <h4>Nombre</h4>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec, rhonc us eget, sollicitudin eu.</p>
                 </div>
              </div>
            </div>

             <div class="col-sm-4">
              <div class="feature-box well"  style="background: #F2F2F2;">
                <div class="feature-content">
                  <h4>Nombre</h4>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elit. Donec eros tellus, scelerisqu nec, rhonc us eget, sollicitudin eu.</p>
                 </div>
              </div>
            </div>


      </div>
  </div>
