
 <div id="container">

    <div class="container">

            <div class="row">
                  <div class="col-md-12">
                    <ul class="breadcrumb">
                      <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
                      <li><a routerLink="/preguntas">Pagina actual</a></li>
                    </ul>
                    <h1>Preguntas frecuentes</h1><br>


             <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-1">
                      ¿Cómo buscar mis neumáticos? <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-1" class="panel-collapse collapse">
                    <div class="panel-body">
                    <p>En nuestro buscador puedes filtrar los productos por medida de neumático o por el modelo de tu auto para encontrar los neumáticos que mas se ajustan a ti.</p>
                  </div>
                  </div>
                </div>



                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-3">
                      ¿Como elegir mis neumáticos?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Una vez que filtres los productos, selecciona los neumáticos que más te gusten. Indica el número de unidades que necesitas y oprime comprar.</p> </div>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-2">
                      ¿Que significa verificar stock? <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-2" class="panel-collapse collapse">
                    <div class="panel-body">
                   <p>Normalmente tenemos control de nuestros neumáticos en stock, sin embargo, en ocaciones, cuando el modelo o medida del neumático tienen una alta rotación, necesitamos corrobar el stock  para garantizar una compra segura a nuestros clientes. Al seleccionar  "Verificar Stock" confirmaremos la disponibilidad del producto solicitado y nos pondremos en contacto para que puedas finalizar tu compra.</p>
                  </div>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-4">
                      ¿Como obtendré neumáticos?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-4" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Luego de presionar comprar, el sitio entregará de forma automática el detalle de tu compra. En este momento, debes escoger una de nuestras cuatro opciones de instalación (instalación a domicilio, “retiramos tu auto”, instalación en taller o despacho a domicilio).</p> </div>
                  </div>
                </div>

                  <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-8">
                     ¿En cuanto tiempo tendré mis neumáticos?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-8" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Tus neumáticos serán despachados en un máximo de 72hrs a menos de que solicites lo contrario al seleccionar una de nuestras formas de instalación.</p> </div>
                  </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-7">
                     ¿Como puedo pagar mis neumáticos?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-7" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Elije la forma de pago que más te acomode. Contamos con Webpay (Tarjetas de débito y crédito) y transferencia bancaria.</p> </div>
                  </div>
                </div>




                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-5">
                     ¿Como funciona webpay?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-5" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>WebPay es el portal de pagos oficial de transbank, a través de este podrás pagar con tus tarjetas de credito y debito de forma facil y segura. Solo debes clickear pagar con webpay y seguir unos simples paso para finalizar tu compra, ¡Nostros nos encargamos del resto!</p> </div>
                  </div>
                </div>

                 <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-6">
                     ¿Como funciona el pago por transferencia bancaria?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-6" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Para pagar por transferencia solo debes ingresar al sitio web de tu banco o en su defecto ir a una sucursal y transferir el monto de tu compra a la cuenta que datallamos en nuestra página. Esta forma de pago es absolutamente gratuita y segura (disponible para todos los bancos). Solo asegurate de enviarnos un correo electronico detallando en el asunto el código de tu compra, el cual te entregaremos al seleccionar pago por transferencia, y adjuntando el comprobante de la transferencia. Así de simple, ¡ Nosotros no encargamos del resto!</p> </div>
                  </div>
                </div>





                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><a data-parent="#accordion" data-toggle="collapse" class="accordion-toggle" href="#accordion-9">
                     ¿Cúales son las políticas de devolución?
                     <i style="float: right; font-size: 30px;" class="fa fa-caret-down"></i></a></h4>
                  </div>
                  <div id="accordion-9" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li>Devolvemos el dinero en caso de fallas en el producto o incoherencias entre la entrega y la compra del cliente.</li>
                        <li>Nuestros productos son certificados y garantizados por los proveedores.</li>
                        <li>En caso de devolución por causa de una equivocación se devolverá el monto de la compra menos el costo de despacho.</li>
                     </ul>
                   </div>
                  </div>
                </div>

            </div>
              <!--Accordion Part End-->





                  </div>



            </div><!--row-->

    </div>
  </div>

