

<div class=" bg-home container-fluid" style="padding: 0px 50px;"> <!-- pasar el css-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row pad-50">
    <div class="col-md-4 bloque1 noView">
      <h1><b style="color: #fff; font-size: 26px !important; line-height: 36px; ">Facilitamos la compra de tus neumáticos</b></h1>
      <p>Nos encargamos de todo para que cambies tus neumáticos sin moverte de casa.
Múltiples formas de instalación y el mejor servicio al estilo Bremsen.cl</p>
    </div>
    <div class="col-md-8 formulario01">
        <div class="pest-home">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"  style="width: 50%" class="active text-center"><a href="#comprarAro" aria-controls="comprarAro" role="tab" data-toggle="tab">
                <p class="titulosDetalles">buscar por auto</p></a></li>

              <li role="presentation" class="text-center"  style="width: 50%"><a href="#comprarMedida" aria-controls="comprarMedida" role="tab" data-toggle="tab">
                <p class="titulosDetalles">buscar por medida</p></a></li>
            </ul>

            <div class="tab-content" style="background: #c0bebf; padding: 25px 14%;">
              <div role="tabpanel" class="tab-pane active" id="comprarAro">
                 <div>
                  <div class="form-group">
                    <label for="marca">Marca</label>
                    <ng-autocomplete (selected)="getModeloVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="marcaGroup"></ng-autocomplete>

                  </div>
                  <div class="form-group">
                    <label for="modelo">Modelo</label>
                     <ng-autocomplete (selected)="getAnoVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="modeloGroup"></ng-autocomplete>
                  </div>
                  <div class="form-group">
                    <label for="ano">Año</label>
                     <ng-autocomplete class="ng-autocomplete-input" (selected)="setAnoVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="anoGroup"></ng-autocomplete>
                  </div>

                  <button (click)="btnBuscarClick(1)" type="button" class="btn btn-default bremsen btn-lg">BUSCAR</button>
                    <div style="height: 11px">&nbsp;</div>
                </div>


              </div>
              <div role="tabpanel" class="tab-pane" id="comprarMedida">
                  <div>
                  <div class="form-group">
                    <label for="ancho">Ancho</label>
                    <!--input type="text" class="form-control" id="ancho" [(ngModel)]="ancho"-->
                     <ng-autocomplete (selected)="getPerfilVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="anchoGroup"></ng-autocomplete>
                  </div>
                  <div class="form-group">
                    <label for="perfil">Perfil</label>
                    <!--input type="text" class="form-control" id="perfil"  [(ngModel)]="perfil"-->
                    <ng-autocomplete (selected)="getAroVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="perfilGroup"></ng-autocomplete>
                  </div>
                  <div class="form-group">
                    <label for="aro">Aro</label>
                    <!--input type="text" class="form-control" id="aro" [(ngModel)]="aro"-->
                    <ng-autocomplete (selected)="setAroVehiculos($event)" [classes]="['ng-autocomplete-dropdown']" [group]="aroGroup"></ng-autocomplete>
                  </div>

                  <button type="button" (click)="btnBuscarClick(2)" class="btn btn-default bremsen btn-lg"><b>BUSCAR</b></button>
                   <div style="height: 11px">&nbsp;</div>
                </div>
              </div>

            </div>

        </div>
    </div>

    </div>
      </div>
    </div>
    <br/><br/>
    <div class="col-md-12 text-center">
      <div class="pad50"></div>
      <p>
        <button type="button" (click)="btnRegistro()" class="btn btn-default btn-lg">Crear Cuenta</button>
      </p>
      <div class="pad-15"></div>
    </div>
</div>

</div>




<div class="container">
  <div class="row">
    <div class="pad-50">&nbsp;</div>
    <div class="col-md-12 text-center">
      <h1 class="title">Nuestros servicios</h1>
      <br>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-responsive center-block" src="assets/image/pasos-buscar-01.png">
      <h3>Busca tus neumáticos</h3>
      <p>Encuentra tus neumáticos por modelo de auto o medida, filtrando de forma sencilla y rápida</p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-responsive center-block" src="assets/image/pasos-instalacion-02.png">
      <h3>Elige instalación</h3>
      <p>Selecciona una de las cuatro formas de instalación o despacho que tenemos disponibles </p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-responsive center-block" src="assets/image/pasos-pagar-03.png">
      <h3>Pago online</h3>
      <p>Finaliza tu compra pagando de forma segura a través de Webpay o transferencia bancaria</p>
    </div>
  </div>
</div>


<div class="container" style="padding: 70px 0px;">
          <!-- Product Tab Start -->
  <div id="product-tab" class="product-tab">

    
     <h1 class="text-center">Sugeridos</h1>
    
  </div>

<owl-carousel #owlElement [options]="{items: 3, autoPlay: 5000, stopOnHover: true,  
slideSpeed : 300, paginationSpeed : 400, singleItem : true}" [items]="productos" *ngIf="productos.length>0">

      <div class="product-thumb" *ngFor="let producto of productos">
      <div class="image" style="line-height: 40px;"><a routerLink="/producto/{{producto.ID}}"><img src="assets/image/product/540x576.jpg" class="img-responsive responsivo" /></a></div>
      <div class="caption">
          <h4><a routerLink="/producto/{{producto.ID}}">{{producto.MARCA}} {{producto.MODELO}}</a></h4>
          <p class="price">{{producto.PRECIO_FINAL | number | currencyFormat}} </p>
      </div>
      <div>
        <button class="btn btn-primary btn-sm" routerLink="/producto/{{producto.ID}}"><span>Ver producto</span></button>
      </div>
    </div>



 </owl-carousel>


<style>
    .owl-carousel .owl-nav.disabled { display: block !important;}
    .disabled { display: block !important;}
</style>

<br>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            <h3>Lorem ipsum dolor sit amet. </h3>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <button type="submit" class="btn btn-primary  ">Leer</button>


        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 pad-upDown">
               <img class="img-responsive center-block " src="assets/image/BANNERS_at-home.jpg">
            </div>
            <div class="col-md-6">
                 <img class="img-responsive center-block " src="assets/image/BANNERS_ht-home.jpg">
            </div>
           </div>
           <br>
           <div class="row">
            <div class="col-md-6">
               <img class="img-responsive center-block " src="assets/image/BANNERS_mt-home.jpg">
            </div>
            <div class="col-md-6 pad-upDown">
                 <img class="img-responsive center-block " src="assets/image/BANNERS_oferta-runflat.jpg">
            </div>
          </div>
        </div>
    </div>
</div>



<br><br>
<br><br>
<br><br>

<div class="container">
  <div class="row">
      <div class="col-md-12 text-center" style="padding-bottom: 30px;">
         <h1 class="title">Marcas </h1>
      </div>

      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
            <a routerLink="/search/marca/yokohama"><img class="img-responsive center-block" src="assets/image/yokohama.png"></a>
      </div>

      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
           <a routerLink="/search/marca/michelin"> <img class="img-responsive center-block" src="assets/image/michelin.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px;">
           <a routerLink="/search/marca/BFGoodrich"> <img class="img-responsive center-block" src="assets/image/BFGoodrich.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px;">
          <a routerLink="/search/marca/falken">  <img class="img-responsive center-block" src="assets/image/falken.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
           <a routerLink="/search/marca/Kumho"> <img class="img-responsive center-block" src="assets/image/KumhoTire.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
           <a routerLink="/search/marca/hankook"> <img class="img-responsive center-block" src="assets/image/hankook.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
           <a routerLink="/search/marca/Dunlop"> <img class="img-responsive center-block" src="assets/image/Dunlop.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px; padding-bottom: 30px; ">
           <a routerLink="/search/marca/pirelli"> <img class="img-responsive center-block" src="assets/image/pirelli.png"></a>
      </div>
       <div class="col-md-3" style="padding: 15px ">
           <a routerLink="/search/marca/westLake"> <img class="img-responsive center-block" src="assets/image/westLake.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px ">
          <a routerLink="/search/marca/tigar">  <img class="img-responsive center-block" src="assets/image/tigar.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px ">
          <a routerLink="/search/marca/sumitomo">  <img class="img-responsive center-block" src="assets/image/sumitomo.png"></a>
      </div>
      <div class="col-md-3" style="padding: 15px ">
          <a routerLink="/search/marca/ohtsu">  <img class="img-responsive center-block" src="assets/image/ohtsu.png"></a>
      </div>
  </div>
</div>
