

<div class=" bg-home container-fluid" style="padding: 0px 86px;"> <!-- pasar el css-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row pad-50">
    <div class="col-md-4 bloque1 ">
      <h1 class="nuestros-servicios"><b>Nuestro Servicio</b></h1>
      <p>Nos encargamos de todo para que cambies tus neumáticos sin moverte de casa.
Multiples formas de instalación y el mejor servicio al estilo Bremsen.cl</p>
    </div>
    <div class="col-md-8 formulario01">
        <div class="pest-home">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"  style="width: 50%" class="active text-center"><a href="#comprarAro" aria-controls="comprarAro" role="tab" data-toggle="tab">
                <b class="titulosDetalles">Comprar por auto</b></a></li>

              <li role="presentation" class="text-center"  style="width: 50%"><a href="#comprarMedida" aria-controls="comprarMedida" role="tab" data-toggle="tab">
                <b class="titulosDetalles">Comprar por medida</b></a></li>
            </ul>


            <div class="tab-content" style="background: #c0bebf; padding: 25px 14%;">
              <div role="tabpanel" class="tab-pane active" id="comprarAro">
                 <div>
                  <div class="form-group">
                    <label for="marca">Marca</label>
                    <input type="text" class="form-control" id="marca" [(ngModel)]="marca">
                  </div>
                  <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <input type="text" class="form-control" id="modelo" [(ngModel)]="modelo">
                  </div>
                  <div class="form-group">
                    <label for="ano">Año</label>
                    <input type="text" class="form-control" id="anoperfil" [(ngModel)]="ano">
                  </div>

                  <button (click)="btnBuscarClick(1)" type="button" class="btn btn-default bremsen btn-lg">BUSCAR</button>
                    <div class="pad-12">&nbsp;</div>
                </div>


              </div>
              <div role="tabpanel" class="tab-pane" id="comprarMedida">
                  <div>
                  <div class="form-group">
                    <label for="ancho">Ancho</label>
                    <input type="text" class="form-control" id="ancho" [(ngModel)]="ancho">
                  </div>
                  <div class="form-group">
                    <label for="perfil">Perfil</label>
                    <input type="text" class="form-control" id="perfil"  [(ngModel)]="perfil">
                  </div>
                  <div class="form-group">
                    <label for="aro">Aro</label>
                    <input type="text" class="form-control" id="aro" [(ngModel)]="aro">
                  </div>

                  <button type="button" (click)="btnBuscarClick(2)" class="btn btn-default bremsen btn-lg"><b>BUSCAR</b></button>
                </div>
                 <div class="pad-15">&nbsp;</div>
              </div>


            </div>

        </div>
    </div>

    </div>
      </div>
    </div>
    <br/><br/>
</div>

</div>



<div class="container-fluid" style="background: #f2f2f2; padding: 40px 0px;">
   <div class="container" >
    <div class="row">
        <div class="col-md-12 text-center">
          <div class="pad50"></div>

          <p class="lead"><b>Regístrate para recibir ofertas personalizadas</b> </p>
          <p>  <button type="button" (click)="btnRegistro()" class="btn btn-primary btn-lg">Crear Cuenta</button></p>
          <div class="pad50"></div>
        </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="pad-50">&nbsp;</div>
          <div class="col-md-12 text-center"><h1 class="title">Nuestro servicios</h1></div>
        <div class="col-md-4 text-center">
            <img class="img-responsive center-block" src="assets/image/pasos-buscar-01.png">
            <h3>Busca tus neumáticos</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive center-block" src="assets/image/pasos-instalacion-02.png">
            <h3>Elige instalación</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive center-block" src="assets/image/pasos-pagar-03.png">
              <h3>Pago online</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
    </div>
</div>







<div class="container" style="padding: 70px 0px;">
  <h1 class="title text-center">Sugeridos</h1>
          <!-- Product Tab Start -->
          <div id="product-tab" class="product-tab">
  <ul id="tabs" class="tabs">
    <li><a href="#tab-featured">Featured</a></li>
    <li><a href="#tab-latest">Latest</a></li>
    <li><a href="#tab-bestseller">Bestseller</a></li>
    <li><a href="#tab-special">Special</a></li>
  </ul>
  <div id="tab-featured" class="tab_content">
      <div class="owl-carousel product_carousel_tab">
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-220x330.jpg" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Brand Fashion Cotton T-Shirt</a></h4>
                <p class="price"><span class="price-new">$110.00</span> <span class="price-old">$122.00</span></p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('42');"><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-220x330.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                <p class="price"> <span class="price-new">$230.00</span> <span class="price-old">$241.99</span>  </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('49');"><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/sony_vaio_1-220x330.jpg" alt="Xitefun Causal Wear Fancy Shoes" title="Xitefun Causal Wear Fancy Shoes" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Xitefun Causal Wear Fancy Shoes</a></h4>
                <p class="price"> <span class="price-new">$902.00</span> <span class="price-old">$1,202.00</span>  </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('46');"><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_1-220x330.jpg" alt="Ideapad Yoga 13-59341124 Laptop" title="Ideapad Yoga 13-59341124 Laptop" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Ideapad Yoga 13-59341124 Laptop</a></h4>
                <p class="price"> $211.00 </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('43');"><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/iphone_1-220x330.jpg" alt="iPhone5" title="iPhone5" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">iPhone5</a></h4>
                <p class="price"> $123.20 </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/canon_eos_5d_1-220x330.jpg" alt="Long Sleeve Shirt Fashion Men" title="Long Sleeve Shirt Fashion Men" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Long Sleeve Shirt Fashion Men</a></h4>
                <p class="price"> <span class="price-new">$98.00</span> <span class="price-old">$122.00</span>  </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
          </div>
  </div>

  <div id="tab-latest" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_2-220x330.jpg" alt="Pnina Tornai Perfume" title="Pnina Tornai Perfume" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Pnina Tornai Perfume</a></h4>
                <p class="price"> $110.00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_3-220x330.jpg" alt="Make Up for Naturally Beautiful Better" title="Make Up for Naturally Beautiful Better" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Make Up for Naturally Beautiful Better</a></h4>
                <p class="price"> $123.00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_4-220x330.jpg" alt="Perfumes for Women" title="Perfumes for Women" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Perfumes for Women</a></h4>
                <p class="price"> $85.00 </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/iphone_6-220x330.jpg" alt="Hair Care Cream for Men" title="Hair Care Cream for Men" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Hair Care Cream for Men</a></h4>
                <p class="price"> $134.00 </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/nikon_d300_5-220x330.jpg" alt="Hair Care Products" title="Hair Care Products" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Hair Care Products</a></h4>
                <p class="price"> <span class="price-new">$66.80</span> <span class="price-old">$90.80</span>  </p>

              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/nikon_d300_4-220x330.jpg" alt="Bed Head Foxy Curls Contour Cream" title="Bed Head Foxy Curls Contour Cream" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Bed Head Foxy Curls Contour Cream</a></h4>
                <p class="price"> $88.00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

              </div>
            </div>
            <div class="product-thumb">
              <div class="assets/image"><a href=""><img src="assets/image/product/macbook_5-220x330.jpg" alt="Shower Gel Perfume for Women" title="Shower Gel Perfume for Women" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Shower Gel Perfume for Women</a></h4>
                <p class="price"> <span class="price-new">$95.00</span> <span class="price-old">$99.00</span>  </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Add to Cart</span></button>

              </div>
            </div>
          </div>
  </div>
  <div id="tab-bestseller" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/FinePix-Long-Zoom-Camera-220x330.jpg" alt="FinePix S8400W Long Zoom Camera" title="FinePix S8400W Long Zoom Camera" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">FinePix S8400W Long Zoom Camera</a></h4>
                      <p class="price"> $122.00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/nikon_d300_1-220x330.jpg" alt="Digital Camera for Elderly" title="Digital Camera for Elderly" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Digital Camera for Elderly</a></h4>
                      <p class="price"> <span class="price-new">$92.00</span> <span class="price-old">$98.00</span>  </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                </div>
  </div>
<br>
  <div id="tab-special" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-220x330.jpg" alt="Samsung Galaxy S4" title="Samsung Galaxy S4" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Samsung Galaxy S4</a></h4>
                      <p class="price"> <span class="price-new">$62.00</span> <span class="price-old">$122.00</span>  </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                  <div class="product-thumb">
              <div class="assets/image"><a href=""><img src="assets/image/product/macbook_5-220x330.jpg" alt="Shower Gel Perfume for Women" title="Shower Gel Perfume for Women" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Shower Gel Perfume for Women</a></h4>
                <p class="price"> <span class="price-new">$95.00</span> <span class="price-old">$99.00</span>  </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Add to Cart</span></button>

              </div>
            </div>
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_air_1-220x330.jpg" alt="Laptop Silver black" title="Laptop Silver black" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Laptop Silver black</a></h4>
                      <p class="price"> <span class="price-new">$1,142.00</span> <span class="price-old">$1,202.00</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                  <div class="product-thumb clearfix">
              <div class="assets/image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-220x330.jpg" alt="Brand Fashion Cotton T-Shirt" title="Brand Fashion Cotton T-Shirt" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Brand Fashion Cotton T-Shirt</a></h4>
                <p class="price"><span class="price-new">$110.00</span> <span class="price-old">$122.00</span></p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('42');"><span>Add to Cart</span></button>

              </div>
            </div>
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/macbook_pro_1-220x330.jpg" alt=" Strategies for Acquiring Your Own Laptop " title=" Strategies for Acquiring Your Own Laptop " class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html"> Strategies for Acquiring Your Own Laptop </a></h4>
                      <p class="price"> <span class="price-new">$1,400.00</span> <span class="price-old">$1,900.00</span>  </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="assets/image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-220x330.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                      <p class="price"> <span class="price-new">$230.00</span> <span class="price-old">$241.99</span>  </p>

                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>

                    </div>
                  </div>
                </div>

  </div>
</div>    <!-- Product Tab Start -->

</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            <h2>Lorem ipsum dolor sit amet. </h2>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <button type="submit" class="btn btn-primary  ">Leer</button>


        </div>

        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
               <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            </div>
            <div class="col-md-6">
                 <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            </div>
           </div>
           <br>
           <div class="row">
            <div class="col-md-6">
               <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            </div>
            <div class="col-md-6">
                 <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
            </div>
          </div>
        </div>
    </div>
</div>


<br><br>
<br><br>
<br><br>

<div class="container">
  <div class="row">
      <div class="col-md-12 text-center" style="padding-bottom: 30px;">
         <h1 class="title">Marcas </h1>
      </div>

      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
       <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
      <div class="col-md-3" style="padding: 15px ">
            <img class="img-responsive center-block" src="assets/image/baner-chico.jpg">
      </div>
  </div>
</div>
