<div id="container">
  <div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
      <li>
        <a href="index.html">
          <i class="fa fa-home"></i>
        </a>
      </li>
      <li>
        <a href="#">Pagina actual</a>
      </li>
    </ul>
    <!-- Breadcrumb End-->




    <div class="row">
      <!--Left Part Start -->
      <aside id="column-left" class="col-sm-3 hidden-xs">
        <div class="pad"></div>
        <h3 class="subtitle">Marca</h3>
        <div class="box-category">
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Goodgear
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Kumbo
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Firestone
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Falken
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Michelin
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Kumbo
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Firestone
            </label>
          </div>

        </div>
        <div class="pad"></div>
        <h3 class="subtitle">Atributo</h3>

        <div class="box-category">
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Run flat
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Carga pesada
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Eco
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Otro x
            </label>
          </div>

        </div>
        <div class="pad"></div>
        <h3 class="subtitle">Opciones</h3>

        <div class="box-category">
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Ofertas
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Pack
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Instalación rapida
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Otro x
            </label>
          </div>

        </div>

        <button type="button" class="btn btn-primary">Nueva búsqueda</button>


      </aside>
      <!--Left Part End -->









      <!--Middle Part Start-->
      <div id="content" class="col-sm-9">
        <h1 class="title">Para: Auto Marca Modelo 2013</h1>




        <div class="product-filter">
          <div class="row">
            <div class="col-sm-6 text-left">
              <label class="control-label" for="input-sort">Showing 1 - 10 of 120</label>
            </div>
            <div class="col-sm-3 text-right">
              <label class="control-label" for="input-sort">Ordenar por:</label>
            </div>
            <div class="col-md-3 col-sm-2 text-right">
              <select id="input-sort" class="form-control col-sm-3">
                <option value="" selected="selected">Default</option>
                <option value="">Name (A - Z)</option>
                <option value="">Name (Z - A)</option>
                <option value="">Price (Low &gt; High)</option>
                <option value="">Price (High &gt; Low)</option>
                <option value="">Rating (Highest)</option>
                <option value="">Rating (Lowest)</option>
                <option value="">Model (A - Z)</option>
                <option value="">Model (Z - A)</option>
              </select>
            </div>

          </div>
        </div>
        <br />
        <div class="row products-category">




          <div class=" product-list col-xs-12">
            <div class="product-thumb">
              <div class="image">

                <a href="producto.html">
                  <div class="logo-img">
                    <img src="assets/image/product/logo-marcas.png" width="200px" alt="" title="" class="img-responsive" />
                  </div>
                  <img src="assets/image/product/540x576.jpg" width="220px" alt=" Strategies for Acquiring Your Own Laptop " title="" class="img-responsive"
                  />
                </a>
              </div>
              <div class="col-md-4">
                <div class="caption">
                  <div class="oferta-inst" style="background: #fff;">

                  </div>
                  <h4>
                    <a href="producto.html"> Marca modelo </a>
                  </h4>
                  <div>
                    <ul class="lista-producto">
                      <li> Ancho: 145</li>
                      <li> Pefil: </li>
                      <li>Aro: 13</li>
                      <li>Indice de carga: KUMHO</li>
                      <li>Marca: KUMHO</li>
                      <li>Instalación gratis: Si</li>
                      <li>Despacho gratis: Si</li>
                    </ul>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <table class="table2 table table-precio" style="padding-right: 0px;">
                  <tr>
                    <td>Valor unitario</td>
                    <td style="text-align:right;"> Cantidad</td>

                  </tr>
                  <tr>
                    <td class="col-sm-6">

                      <select class="form-control" style="width: 75%;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </td>
                    <td class="col-sm-6">

                      <p style="text-align:right; margin-bottom: 3px;" class="precio">
                        <b>$ 10,000</b>
                      </p>
                      <p style="text-align:right; font-size: 12px;">Ahorro $60,000</p>
                    </td>
                  </tr>
                </table>
                <hr class="hr1">

                <table class="table2 table table-precio">

                  <tr>
                    <td class="col-sm-6">
                      <p class="total">Total</p>
                    </td>
                    <td style="text-align:right;" class="col-sm-6">
                      <h3 class="precio">
                        <b>$ 10,000</b>
                      </h3>

                    </td>
                  </tr>
                  <tr style="text-align:right; ">
                    <td>
                      <button type="submit" class="btn btn-default bremsen ">Comprar</button>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary bremsen3 ">
                        <i class="fa fa-plus" aria-hidden="true"></i> Carro</button>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>



          <div class=" product-list col-xs-12">
            <div class="product-thumb">
              <div class="image">

                <a href="producto.html">
                  <div class="logo-img">
                    <img src="assets/image/product/logo-marcas.png" width="200px" alt="" title="" class="img-responsive" />
                  </div>
                  <img src="assets/image/product/540x576.jpg" width="220px" alt=" Strategies for Acquiring Your Own Laptop " title="" class="img-responsive"
                  />
                </a>
              </div>
              <div class="col-md-4">
                <div class="caption">
                  <div class="oferta-inst">
                    <p>Oferta /insta rap</p>
                  </div>
                  <h4>
                    <a href="producto.html"> Marca modelo </a>
                  </h4>

                  <div>
                    <ul class="lista-producto">
                      <li> Ancho: 145</li>
                      <li> Pefil: </li>
                      <li>Aro: 13</li>
                      <li>Indice de carga: KUMHO</li>
                      <li>Marca: KUMHO</li>
                      <li>Instalación gratis: Si</li>
                      <li>Despacho gratis: Si</li>
                    </ul>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <table class="table2 table table-precio" style="padding-right: 0px;">
                  <tr>
                    <td>Valor unitario</td>
                    <td style="text-align:right;"> Cantidad</td>

                  </tr>
                  <tr>
                    <td class="col-sm-6">

                      <select class="form-control" style="width: 75%;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </td>
                    <td class="col-sm-6">

                      <p style="text-align:right; margin-bottom: 3px;" class="precio">
                        <b>$ 10,000</b>
                      </p>
                      <p style="text-align:right; font-size: 12px;">Ahorro $60,000</p>
                    </td>
                  </tr>
                </table>
                <hr class="hr1">

                <table class="table2 table table-precio">

                  <tr>
                    <td class="col-sm-6">
                      <p class="total">Total</p>
                    </td>
                    <td style="text-align:right;" class="col-sm-6">
                      <h3 class="precio">
                        <b>$ 10,000</b>
                      </h3>

                    </td>
                  </tr>
                  <tr style="text-align:right; ">
                    <td>
                      <button type="submit" class="btn btn-default bremsen ">Comprar</button>
                    </td>
                    <td>
                      <button type="submit" class="btn btn-primary bremsen3 ">
                        <i class="fa fa-plus" aria-hidden="true"></i> Carro</button>
                    </td>
                  </tr>
                </table>

              </div>
            </div>
          </div>





          <div class=" product-list col-xs-12">
            <div class="product-thumb">
              <div class="image">

                <a href="producto.html">
                  <div class="logo-img">
                    <img src="assets/image/product/logo-marcas.png" width="200px" alt="" title="" class="img-responsive" />
                  </div>
                  <img src="assets/image/product/540x576.jpg" width="220px" alt=" Strategies for Acquiring Your Own Laptop " title="" class="img-responsive"
                  />
                </a>
              </div>
              <div class="col-md-4">
                <div class="caption">
                  <div class="oferta-inst">
                    <p>Oferta /insta rap</p>
                  </div>
                  <h4>
                    <a href="product.html"> Marca modelo </a>
                  </h4>
                  <div>
                    <ul class="lista-producto">
                      <li> Ancho: 145</li>
                      <li> Pefil: </li>
                      <li>Aro: 13</li>
                      <li>Indice de carga: KUMHO</li>
                      <li>Marca: KUMHO</li>
                      <li>Instalación gratis: Si</li>
                      <li>Despacho gratis: Si</li>
                    </ul>
                  </div>

                </div>

              </div>
              <div class="col-md-4">
                <table class="table2 table table-precio" style="padding-right: 0px;">
                  <tr>
                    <td>Valor unitario</td>
                    <td style="text-align:right;"> Cantidad</td>

                  </tr>
                  <tr>
                    <td class="col-sm-6">

                      <select class="form-control" style="width: 75%;">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </td>
                    <td class="col-sm-6">

                      <p style="text-align:right; margin-bottom: 3px;" class="precio">
                        <b>$ 10,000</b>
                      </p>
                      <p style="text-align:right; font-size: 12px;">Ahorro $60,000</p>
                    </td>
                  </tr>
                </table>
                <hr class="hr1">

                <table class="table2 table table-precio">

                  <tr>
                    <td class="col-sm-6">
                      <p class="total">Total</p>
                    </td>
                    <td style="text-align:right;" class="col-sm-6">
                      <h3 class="precio">
                        <b>$ 10,000</b>
                      </h3>

                    </td>
                  </tr>

                </table>

                <table class="table2 table table-precio">
                  <tr>

                    <td class="col-md-12" style="text-align: right;">
                      <button class="btn btn-default " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                        aria-controls="collapseExample">
                        Verificar stock
                        <i class="fa fa-sort" aria-hidden="true"></i>

                      </button>
                      <div class="collapse" id="collapseExample" style="text-align: left !important;">
                        <div class="well">
                          <br> Deja tus datos y te contactaremos con la confirmación.
                          <form>
                            <div class="form-group required">
                              <label for="">Nombre completo</label>
                              <input type="text" class="form-control" id="">
                            </div>

                            <div class="form-group required">
                              <label for="">Email</label>
                              <input type="email" class="form-control" id="">
                            </div>
                          </form>
                          <button type="submit" class="btn btn-default bremsen ">Enviar</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>


              </div>
            </div>



          </div>

        </div>
        <div class="row">
          <div class="col-sm-6 text-left">
            <ul class="pagination">
              <li class="active">
                <span>1</span>
              </li>
              <li>
                <a href="#">2</a>
              </li>
              <li>
                <a href="#">&gt;</a>
              </li>
              <li>
                <a href="#">&gt;|</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 text-right">Showing 1 to 12 of 15 (2 Pages)</div>
        </div>
      </div>
      <!--Middle Part End -->
    </div>
  </div>
</div>