
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <div class="volver">
        <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
      </div>

      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Pagina actual</a></li>
      </ul>
      <div class="col-md-12">
            <table class="table">
              <tr>
                  <td class="text-center borderBottom" width="33%"><h3>01 Carro de compra</h3></td>
                  <td class="text-center borderBottomActive" width="33%"><h3>02 Información del cliente</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>03 Pago</h3></td>
              </tr>
            </table>
            <br>
      </div>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-8">
        <h1 class="title">Información cliente</h1>


      <form name="form" (ngSubmit)="f.form.valid && saveRegistro()" #f="ngForm" novalidate>
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombreCompleto.valid }">
                    <label for="nombreCompleto">Nombre completo</label>
                        <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" #nombreCompleto="ngModel" [(ngModel)]="cliente.nombreCompleto" required>
                     <div *ngIf="f.submitted && !nombreCompleto.valid" class="help-block">Nombre completo es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email1.valid }">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email1" [(ngModel)]="cliente.email" #email1="ngModel" required>
                  <div *ngIf="f.submitted && !email1.valid" class="help-block">Email es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefono.valid }">
                    <label for="telefono">Telefono</label>
                    <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="cliente.telefono" #telefono="ngModel" required>
                 <div *ngIf="f.submitted && !telefono.valid" class="help-block">Telefono es requerido</div>
                  </div>


                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !genero.valid }">
                    <label for="genero">Genero </label>
                      <select class="form-control" id="genero" name="input-select" name="genero" #genero="ngModel" [(ngModel)]="cliente.genero" required>
                        <option value="1" selected="selected">Masculino </option>
                        <option value="2">Femenino </option>
                    </select>
                      <div *ngIf="f.submitted && !genero.valid" class="help-block">Debe seleccionar su sexo</div>
                  </div>
                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccion.valid }">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="cliente.direccion" #direccion="ngModel" required>
                  <div *ngIf="f.submitted && !direccion.valid" class="help-block">Dirección es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !regionValido }">
                    <label for="region">Región </label>
                      <select class="form-control" #selectedRegion (change)="cambiaCiudad(selectedRegion.value)" name="region1" #region1="ngModel" [(ngModel)]="cliente.region" id="region1">
                        <option *ngFor="let region of regionesPersona" [value]="region[0]">{{region[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !regionValido" class="help-block">Debe seleccionar una region</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !ciudadValido }">
                    <label for="ciudad">Ciudad </label>
                    <select *ngIf="ciudadesPersona.length > 0" #selectedCiudad class="form-control" (change)="cambiaComuna(selectedCiudad.value)" #ciudad1="ngModel" name="ciudad1" id="ciudad1" [(ngModel)]="cliente.ciudad">
                      <option  *ngFor="let ciudad of ciudadesPersona" [value]="ciudad[0]">{{ciudad[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !ciudadValido" class="help-block">Debe seleccionar una ciudad</div>
                  </div>

                   <div class="form-group" [ngClass]="{ 'has-error': !comunaValido }">
                    <label for="comuna">Comuna </label>
                      <select *ngIf="comunasPersona.length > 0" #selectedComuna class="form-control" id="input-select" name="input-select" #comuna1="ngModel" name="comuna1" id="comuna1" [(ngModel)]="cliente.comuna">
                        <option  *ngFor="let comuna of comunasPersona" [value]="comuna[0]">{{comuna[1]}}</option>
                    </select>
                       <div *ngIf="f.submitted && !comunaValido" class="help-block">Debe seleccionar una comuna</div>
                  </div>
                  <div class="form-group required">
                    <label for="">Nueva contraseña</label>
                    <input type="password" class="form-control" name="nueva1" id="nueva1" [(ngModel)]="nueva1">
                  </div>

                  <div class="form-group required">
                    <label for="">Repetir nueva contraseña </label>
                    <input type="password" class="form-control" name="nueva2" id="nueva2" [(ngModel)]="nueva2">
                  </div>
                    <div *ngIf="errorPass" class="help-block">{{errorMsg}}</div>

                    <div class="form-group ">
                    <label for="">Recibo </label>
                      <select class="form-control" #facturacion id="input-select" name="input-select" (change)="esFactura(facturacion.value)" #selectedFactura="ngModel" name="selectedFactura" id="selectedFactura" [(ngModel)]="cliente.facturacion">
                        <option value="1">Boleta </option>
                        <option value="2">Factura </option>
                    </select>

                  </div>

                  <div *ngIf="isFactura">

                  <div class="form-group" [ngClass]="{ 'has-error': !razonValido }">
                    <label for="razon">Razon Social</label>
                        <input type="text" class="form-control" id="razon" name="razon" #razon="ngModel" [(ngModel)]="cliente.razon" >
                     <div *ngIf="f.submitted && !razonValido" class="help-block">Razon Social es requerido</div>
                  </div>

                 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rutempresaValido }">
                    <label for="">R.U.T  de la empresa</label>
                    <input type="text" class="form-control"  id="rutempresa" name="rutempresa" #rutempresa="ngModel" [(ngModel)]="cliente.rutempresa" >
                    <div *ngIf="f.submitted && !rutempresaValido" class="help-block">Rut empresa es requerido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !giroValido }">
                    <label for="">Giro</label>
                    <input type="text" class="form-control"  id="giro" name="giro" #giro="ngModel" [(ngModel)]="cliente.giro" required>
                    <div *ngIf="f.submitted && !giroValido" class="help-block">Giro es requerido</div>
                  </div>
                  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !telefonoempresaValido }">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" id="telefonoempresa" name="telefonoempresa" #telefonoempresa="ngModel" [(ngModel)]="cliente.telefonoempresa" >
                    <div *ngIf="f.submitted && !telefonoempresaValido" class="help-block">Telefono Empresa es requerido</div>
                  </div>
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !direccionempresaValido }">
                    <label for="">Dirección</label>
                    <input type="text" class="form-control"  id="direccionempresa" name="direccionempresa" #direccionempresa="ngModel" [(ngModel)]="cliente.direccionempresa" >
                    <div *ngIf="f.submitted && !direccionempresaValido" class="help-block">Dirección Empresa es requerido</div>
                  </div>

                 <div class="form-group" [ngClass]="{ 'has-error': !regionValidoEmpresa }">
                    <label for="regionEmpresa">Región </label>
                      <select class="form-control" #selectedRegionEmpresa (change)="cambiaCiudadEmpresa(selectedRegionEmpresa.value)" name="region1Empresa" #region1Empresa="ngModel" [(ngModel)]="cliente.regionempresa" id="region1Empresa">
                        <option *ngFor="let region of regionesEmpresa" [value]="region[0]">{{region[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !regionValidoEmpresa" class="help-block">Debe seleccionar una region</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !ciudadValidoEmpresa }">
                    <label for="ciudadEmpresa">Ciudad </label>
                    <select *ngIf="ciudadesEmpresa.length > 0" #selectedCiudadEmpresa class="form-control" (change)="cambiaComunaEmpresa(selectedCiudadEmpresa.value)" #ciudad1Empresa="ngModel" name="ciudad1Empresa" id="ciudad1Empresa" [(ngModel)]="cliente.ciudadempresa">
                      <option  *ngFor="let ciudad of ciudadesEmpresa" [value]="ciudad[0]">{{ciudad[1]}}</option>
                    </select>
                      <div *ngIf="f.submitted && !ciudadValidoEmpresa" class="help-block">Debe seleccionar una ciudad</div>
                  </div>

                   <div class="form-group" [ngClass]="{ 'has-error': !comunaValidoEmpresa }">
                    <label for="comunaEmpresa">Comuna </label>
                      <select *ngIf="comunasEmpresa.length > 0" #selectedComunaEmpresa class="form-control" id="input-select" name="input-select" #comuna1Empresa="ngModel" name="comuna1Empresa" id="comuna1Empresa" [(ngModel)]="cliente.comunaempresa">
                        <option  *ngFor="let comuna of comunasEmpresa" [value]="comuna[0]">{{comuna[1]}}</option>
                    </select>
                       <div *ngIf="f.submitted && !comunaValidoEmpresa" class="help-block">Debe seleccionar una comuna</div>
                  </div>


              </div>






        <div class="col-md-6" style="padding-top: 25px; padding-left: 0px;">
              <button [disabled]="loading" type="submit" class="btn btn-primary btn-block">Pagar <b>Web</b> <b style="color:#ff9222;">Pay</b></button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
             <div *ngIf="estado" [ngClass] = "'success'"> Cliente fue agregado correctamente. </div>
              <div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>

         <p class="p-botnes" >Puedes pagar con Tarjeta de crédito o Redcompra.</p>
        </div>

         <div class="col-md-6"  style="padding-top: 25px; padding-right: 0px;">
                <button class="btn btn-default  btn-block" type="button" data-toggle="collapse" data-target="#transferencia" aria-expanded="false" aria-controls="transferencia">
                      Transferencia Bancaria
              </button>
               <p class="p-botnes">Tranfiere directamente a nuestra cuenta y envia el comprobante a ventas@bremsen.cl</p>

         </div>
</form>
               <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                   <div class="collapse" id="transferencia" style="text-align: left !important;">
                      <div class="well">
                        <br>
                          <div class="col-md-12 col-sm-12">

                              <p>Luego de efectuar el pago, <b>debes enviar el comprobante de la transferencia vía mail</b> usando tu código de compra como asunto del mensaje. Una vez que tu pago sea verificado comenzará el despacho de tus productos.</p>

                             <h2>Datos cuenta</h2><br>
                                <label><b>Tipo de Cuenta:</b></label>
                                <p>Cuenta corriente</p><br>

                                <label><b>Banco:</b></label>
                                <p>Banco BCI</p><br>


                                <label><b>Nombre:</b></label>
                                <p> Compra y venta de repuestos automotrices SPA</p><br>

                                <label><b>Rut:</b></label>
                                 <p>76.577.353-9</p><br>

                                <label><b>Número de Cuenta:</b></label>
                                <p> 52351114</p><br>

                                <label><b>Email:</b></label>
                                <p>ventas@bremsen.cl</p><br>

                                <label><b>Código de compra:</b></label>
                                <p>cd1234</p>
                           </div>

                           <div class="col-md-12">
                            <div class="pad-10">&nbsp;</div>

                             <button type="button" class="btn btn-default ">CONFIRMAR transferencia </button>
                           </div>

                      </div>
                    </div>

        </div>





        </div>











        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside class="col-sm-4 hidden-xs" id="column-right" style="padding-top: 49px; padding-right: 0px;">

          <div class="col-md-3"></div>
            <div class="col-md-9" style=" border: 1px solid #ccc;">
              <br>
                  <h3 class="subtitle">Resumen de compra</h3>
                 <table class="table" >
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Neumáticos</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Instalación</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>
                   <tr>
                     <td style="border-top: 1px solid #fff !important;">Descuento</td>
                     <td style="border-top: 1px solid #fff !important;">$</td>
                   </tr>

                   <tr>
                     <td><p style="font-size: 16px">TOTAL</p></td>
                     <td><p style="font-size: 16px">$</p></td>
                   </tr>
                 </table>
            </div>



        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>
