  <div id="container">
    <div class="container">
      <br>
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb" style="padding:16px;">
       <li><a routerLink="/home"><i class="fa fa-home"></i></a></li>
        <li>Pagina actual</li>
      </ul>
      <!-- Breadcrumb End-->




      <div class="row">
        <!--Left Part Start -->
        <aside id="column-left" class="col-sm-3 hidden-xs">
          <div class="pad-5">&nbsp;</div>
          <h3><b>FILTRAR POR</b></h3>
          <br>
          <h3 class="subtitle">Marca</h3>
           <div class="box-category">
            <div class="radio">
                <label>
                  <input type="radio" name="filtromarcamodel" (click)="filtroMarca('all')">&nbsp;&nbsp;
                  Todas
                </label>
              </div>
              <div class="radio" *ngFor="let marca of detallesCategoria.todasMarcas">
                <label>
                  <input type="radio" [value]="marca" name="filtromarcamodel" (click)="filtroMarca(marca)">&nbsp;&nbsp;

                  {{marca}}
                </label>
              </div>


          </div>

          <div class="pad"></div>
          <h3 class="subtitle">Atributo</h3>

          <div class="box-category">
              <div class="radio" *ngFor="let atributo of atributoRadio">
                <label>
                  <input type="radio" [value]="atributo" name="atributomodel" (click)="filtroAtributo(atributo)">&nbsp;&nbsp;
                  {{atributo}}
                </label>
              </div>

          </div>
          <div class="pad"></div>
          <h3 class="subtitle">Opciones</h3>

          <div class="box-category">
              <div class="radio" *ngFor="let opcion of opcionesRadio">
                <label>
                  <input type="radio" [value]="opcion" name="opcionesmodel" (click)="filtroOpciones(opcion)">&nbsp;&nbsp;
                  {{opcion}}
                </label>
              </div>
          </div>


        </aside>
        <!--Left Part End -->









        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h3><b>Para: {{param1}} </b></h3>

        <!-- 1 -->
<div class="loader loader--style1" title="0" *ngIf="mostrarLoading">
  <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>
</div>


          <div class="product-filter" *ngIf="detallesCategoria.totalProductos > 0">
            <div class="row">
              <div class="col-sm-6 text-left"> <label class="control-label" for="input-sort">Mostrando {{ detallesCategoria.inicio}} - {{ detallesCategoria.fin}} de {{detallesCategoria.totalProductos}} Productos</label></div>
              <div class="col-sm-3 text-right">
                <label class="control-label" for="input-sort">Ordenar por:</label>
              </div>
              <div class="col-md-3 col-sm-2 text-right">
                <select id="input-sort" class="form-control col-sm-3" (change)="ordenadorProductos()" name="ordenador" [(ngModel)]="detallesCategoria.order">
                  <option value="marca1" selected="selected">Marca (A - Z)</option>
                  <option value="marca2">Marca (Z - A)</option>
                  <option value="precio1">Precio (Mas Bajo)</option>
                  <option value="precio2">Precio (Mas Alto)</option>
                  <option value="modelo1">Modelo (A - Z)</option>
                  <option value="modelo2">Modelo (Z - A)</option>
                </select>
              </div>

            </div>
          </div>
          <br />
          <div *ngIf="errorMessage" class="help-block">{{errorMessage}}</div>
          <div class="row products-category">


            <div class="col-sm-12" style="padding: 0px;"  *ngIf="detallesCategoria.totalProductos == 0">
            <h2>No se han encontrado neumáticos para tu búsqueda</h2>
            <p>Dejanos tus datos y nosotros seguiremos buscando por ti. Te escribiremos con las mejores opciones.</p>
                <form>
                  <div class="form-group required">
                    <label for="">Nombre completo</label>
                    <input type="text" class="form-control" id="">
                  </div>

                  <div class="form-group required">
                    <label for="">Email</label>
                    <input type="email" class="form-control" id="" >
                  </div>
              </form>
                <button type="button" class="btn btn-default btn-lg">Enviar</button>
                <br>
          </div>



<div  *ngIf="detallesCategoria.totalProductos > 0">
            <div *ngFor="let producto of productos" class=" product-list col-xs-12">
              <div class="product-thumb">
                <div class="image">
                  <a routerLink="/producto/{{producto.ID}}">
                    <div class="logo-img">
                      <img src="assets/image/{{producto.LOGO}}" width="200px" alt="" title="" class="img-responsive" />
                    </div>
                    <img src="assets/galerias/{{producto.JPG}}" width="220px" alt=" Strategies for Acquiring Your Own Laptop " title="" class="img-responsive"
                    />
                  </a>
                </div>
                <div class="col-md-4 pad-responsivo">
                  <div class="caption">
                    <div *ngIf="producto.OFERTA == 'Si'" class="oferta-inst" style="padding-left:0px;">
            
                      <img src="assets/image/oferta.png" class="">
                      <!-- va a variar 2 fotos 1."oferta instantania" ó 2."Instatania rapida"
            
            
            
                                    -->
            
                    </div>
                    <h4>
                      <a routerLink="/producto/{{producto.ID}}"> {{producto.MARCA}} {{producto.MODELO}} </a>
                    </h4>
                    <div>
                      <ul class="lista-producto">
                        <li>Ancho: {{producto.ANCHO}}</li>
                        <li>Pefil: {{producto.PERFIL}}</li>
                        <li>Aro: {{producto.ARO}}</li>
                        <li>Indice de carga: {{producto.CARGA}}</li>
                        <li>Marca: {{producto.MARCA}}</li>
                        <li>Instalación gratis: {{producto.INCLUYE_INSTALACION}}</li>
                        <li>Despacho gratis: {{producto.DESPACHO}}</li>
                      </ul>
                    </div>
            
                  </div>
            
                </div>
                <div class="col-md-4">
                  <table class="table2 table table-precio" style="padding-right: 0px;">
                    <tr>
                      <td>Cantidad</td>
                      <td style="text-align:right;"> Valor unitario</td>
            
                    </tr>
                    <tr>
                      <td class="col-sm-6">
            
                        <select class="form-control" style="width: 75%;" #selectCantidad>
                          <option *ngFor="let stock of producto.STOCK" [value]="stock.codigo" [selected]="stock.codigo == 4">{{stock.nombre}}</option>
                        </select>
            
                        <div *ngIf="producto.STOCK[0].codigo==0" class="help-block">Sin Stock</div>
                        <div *ngIf="cantidadValido" class="help-block">Debe seleccionar una cantidad</div>
            
                      </td>
                      <td class="col-sm-6">
                        <p style="text-align:right; margin-bottom: 3px;" class="precio">
                          <b>{{producto.PRECIO_FINAL | number | currencyFormat}}</b>
                        </p>
                        <!--p style="text-align:right; font-size: 12px;">Ahorro $60,000</p-->
                      </td>
                    </tr>
                  </table>
                  <hr class="hr1">
            
                  <table class="table2 table table-precio">
            
                    <tr>
                      <td class="col-sm-6">
                        <p class="total" *ngIf="producto.STOCK[0].codigo>0">Total</p>
                      </td>
                      <td style="text-align:right;" class="col-sm-6">
                        <h3 class="precio" *ngIf="producto.STOCK[0].codigo>0">
                          <b> {{producto.PRECIO_FINAL * selectCantidad.value | number | currencyFormat }}</b>
                        </h3>
            
                      </td>
                    </tr>
                    <tr style="text-align:right; ">
                      <td>
                        <button *ngIf="producto.STOCK[0].codigo>0" type="button" class="btn btn-default bremsen " (click)="agregarCarro(1,selectCantidad.value,producto.ID)">Comprar</button>
                      </td>
                      <td>
            
                        <button *ngIf="producto.STOCK[0].codigo==0" type="button" class="btn btn-default bremsen " routerLink="/producto/{{producto.ID}}">Ver producto</button>
                        <button *ngIf="producto.STOCK[0].codigo>0" type="button" class="btn btn-primary" (click)="agregarCarro(2,selectCantidad.value,producto.ID)">
                          <i class="fa fa-plus" aria-hidden="true"></i> Carro
                        </button>
                      </td>
                    </tr>
                  </table>
            
                </div>
              </div>
            
              <!--div #elem style="text-align: left !important;">
                                  <div class="well">
                                    <br>
                                    <div class="col-md-12 text-right">
                                      <h3>Sumado al carro</h3>
                                      <hr>
                                    </div>
            
                                     <div class="col-md-3 col-sm-12">
                                         <img src="assets/image/product/540x576.jpg" width="220px" alt=" Strategies for Acquiring Your Own Laptop " title="" class="img-responsive">
                                    </div>
            
                                    <div class="col-md-3 col-sm-12">
                                        {{producto.MARCA}} {{producto.MODELO}}
                                          <ul class="lista-producto">
                                            <li>Medida: {{producto.MEDIDA}}</li>
                                            <li>Instalación gratis: {{producto.INCLUYE_INSTALACION}}</li>
                                            <li>Despacho gratis: {{producto.DESPACHO}}</li>
                                            <li>Cantidad: {{selectCantidad.value}}</li>
            
                                        </ul>
                                    </div>
            
            
                                  </div>
                           </div-->
            
            
            
            </div>

</div>



          </div>
          <div class="row"  *ngIf="detallesCategoria.totalProductos > 0">
            <div class="col-sm-6 text-left" style="margin-top: -18px;">
              <ul class="pagination">
                <li *ngFor="let item of resultProductos | paginate: { itemsPerPage: itemsPerPage, currentPage: p }"></li>
              </ul>
              <pagination-controls (pageChange)="pageChanged($event)"
                                  maxSize="9"
                      directionLinks="true"
                      autoHide="true"
                      previousLabel="Previo"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Paginación"
                      screenReaderPageLabel="Página"
                      screenReaderCurrentLabel="Tu estas en esta página"></pagination-controls>
            </div>
            <div class="col-sm-6 text-right">Mostrando {{ detallesCategoria.inicio}} - {{ detallesCategoria.fin}} de {{detallesCategoria.totalProductos}} Productos</div>
          </div>
        </div>
        <!--Middle Part End -->
      </div>
    </div>
  </div>
  <script>
                        $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                      })
                    </script>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document" >
                          <div class="modal-content" style="padding-left: 8px;">
                            <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 33px; color: #fff !important;">×</span></button>  </div><br>
                            <h3 style="color: #fff !important;">Producto agregado al carro</h3>
                            <div class="pad-10">&nbsp;</div>
                             </div>
                        </div>
                    </div>
