
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Carro de compra</a></li>
      </ul>

      <div class="col-md-12">
            <table class="table">
              <tr>
                  <td class="text-center borderBottomActive" width="33%"><h3>01 Carro de compra</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>02 Información del cliente</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>03 Pago</h3></td>
              </tr>
            </table>
            <br>
      </div>

      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h1 class="title" style="padding-bottom: 15px;">Carro de compra</h1>
          <h2 class="titulo-light subtile">1- Neumáticos</h2>


            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="gris">
                    <td class="text-center"></td>
                     <td class="text-left">Item</td>
                    <td class="text-left">Precio</td>
                    <td class="text-left">Qty.</td>
                    <td class="text-center">Total</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="borderTop">
                    <td class="text-center"><a href="producto.html"><img src="assets/image/product/540x576.jpg" width="50px" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-thumbnail" /></a>
                    </td>
                    <td class="text-left">
                        <a href="#producto.html"><h4><b>Marca modelo</b></h4>
                           Medida: <span>24 75 7h</span>
                         </a>
                    </td>
					  <td class="text-left"><h4><b>$ 10,000</b></h4></td>
                    <td class="text-left" style="padding-top: 14px;">
                        <select class="form-control" style="width: 45%;">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                    </td>
					  <td class="text-left">
               			<table>
               				<tr>
								<td><h4><b>$ 40,000</b></h4></td>
               					<td>&nbsp; &nbsp;<i style="color: red; font-size: 18px" class="fa fa-times-circle"></i></td>
               				</tr>

               			</table>

                 	  </td>
                  </tr>
                  <tr class="borderTop">
                    <td class="text-center">
                      <a href="producto.html">
                      <img src="assets/image/product/540x576.jpg" width="50px" alt="Xitefun Causal Wear Fancy Shoes" title="">
                    </a>
                    </td>
                    <td class="text-left">
                        <a href="#producto.html"><h4><b>Marca modelo</b></h4>
                           Medida: <span>24 75 7h</span>
                         </a>
                    </td>
						<td class="text-left"><h4><b>$ 10,000</b></h4></td>
                    <td class="text-left" style="padding-top: 24px;">
                        <select class="form-control" style="width: 45%;">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                      </select>
                    </td>
					  <td class="text-left">
               			<table>
               				<tr>
								        <td><h4><b>$ 40,000</b></h4></td>
               					<td>&nbsp; &nbsp;<i style="color: red; font-size: 18px" class="fa fa-times-circle"></i></td>
               				</tr>

               			</table>

                 	  </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <br>

       <h2 class="titulo-light subtile">2- Elige tu Despacho o Instalación</h2>
       <div class="col-md-12 gris" style="padding: 10px;">
       					<p>Haz click en el tipo de instalación que deseas. Conoce más <a href="#"><b style="color:#6b8bc0;">Aquí</b></a></p>
       				</div>

       <div class=" col-md-12 borderCaja">
       				<br>

					<div class="col-md-6">

										  <div class="form-group required">
													 <label for="">Región </label>
															 <select class="form-control" id="input-select" name="input-select">
																	<option value="">. </option>
																	<option value="1">1 </option>
																	<option value="2">2 </option>
																	<option value="3">3 </option>
																	<option value="4">4 </option>
															  </select>
										  </div>

										  <div class="form-group required">
													 <label for="">Comuna </label>
																<select class="form-control" id="input-select" name="input-select">
																  <option value="">. </option>
																  <option value="1">1 </option>
																  <option value="2">2 </option>
																  <option value="3">3 </option>
																  <option value="4">4 </option>
													 </select>
										  </div>

   				 </div>

    <div class="col-md-6">&nbsp;</div>

    <div class="col-md-12">

            <div class="pest-home">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" style="width: 25%" class="active">

              <a href="#intalacion-domicilio" aria-controls="intalacion-domicilio" role="tab" data-toggle="tab">
                <img class="img-responsive center-block noView" src="assets/image/Instalacion-a-domicilio-04.png">
                  <h4 class="tabs-h4"><b>Instalación a domicilio</b></h4>
                  <button type="submit" class="btn btn-sm btn-default bremsen ">$ 40,000</button>

                </a>



              </li>

              <li role="presentation text-center" style="width: 25%;">

               <a href="#retiramos-autos" aria-controls="retiramos-autos" role="tab" data-toggle="tab">
                 <img class="img-responsive center-block noView" src="assets/image/retiro-a-domicilio-05.png">
                        <h4 class="tabs-h4"><b>Retiramos tu auto</b></h4>
                          <button type="submit" class="btn btn-sm btn-default bremsen ">$ 40,000</button>
                      </a>




              </li>

              <li role="presentation" style="width: 25%">

               <a href="#talleres-asosiados" aria-controls="talleres-asosiados" role="tab" data-toggle="tab">
                    <img class="img-responsive center-block noView" src="assets/image/talleres-asociados-06.png">
                    <h4 class="tabs-h4"><b>Talleres asociados</b></h4>

                     <button type="submit" class="btn btn-sm btn-default bremsen ">$ 0</button>

                </a>

              </li>

              <li role="presentation" style="width: 25%">
                 <a href="#despacho-adomicilio" aria-controls="despacho-adomicilio" role="tab" data-toggle="tab">
                              <img class="img-responsive center-block noView" src="assets/image/despacho-a-domicilio-07.png">
                              <h4 class="tabs-h4"><b>Despacho a domicilio</b></h4>
                                  <button type="submit" class="btn btn-sm btn-default bremsen ">$ 40,000</button>


              </a>


              </li>

            </ul>


            <div class="tab-content" style="background: #fff; padding-left: 0px;">

              <div role="tabpanel" class="tab-pane active" id="intalacion-domicilio">
                  <div class="col-md-6" style="padding-left: 0px;">

                 <form>
                  <div class="form-group"><br>
                    <label for="ancho">Dirección</label>
                    <input type="text" class="form-control" id="" placeholder="Calle y número">
                  </div>

                  <p>¿Quién entrega el auto?</p>
                  <div class="form-group">
                    <label for="perfil">Nombre y apellido</label>
                    <input type="text" class="form-control" id="perfil" placeholder="Nombre y apellido">
                  </div>



               		<div class="checkbox">
						<label>
						  <input type="checkbox"> Acepto <a href="terminos-condiciones.html" style="color:#6b8bc0;">Términos y Condiciones</a>
						</label>
					  </div>

                  <button type="submit" class="btn btn-default">GUARDAR DATOS</button>
                </form>

                 </div>
                 <div class="col-md-6"></div>
              </div>


               <div role="tabpanel" class="tab-pane" id="retiramos-autos">

                 <div class="col-md-6" style="padding-left: 0px;">
                  <br>

                 <form>
                  <div class="form-group">
                    <label for="ancho">Dirección</label>
                    <input type="text" class="form-control" id="" placeholder="Calle y número">
                  </div>

                  <p>¿Quién entrega el auto?</p>

                  <div class="form-group">
                    <label for="perfil">Nombre y apellido</label>
                    <input type="text" class="form-control" id="perfil" placeholder="Nombre y apellido">
                  </div>

                  <div class="form-group">
                    <label for="perfil">R.U.T</label>
                    <input type="text" class="form-control" id="perfil" placeholder="">
                  </div>

               		<div class="checkbox">
						<label>
						  <input type="checkbox"> Acepto <a href="terminos-condiciones.html" style="color:#6b8bc0;">Términos y Condiciones</a>
						</label>
					  </div>

                  <button type="submit" class="btn btn-default">GUARDAR DATOS</button>
                </form>

                 </div>
                 <div class="col-md-6"></div>
              </div>



              <div role="tabpanel" class="tab-pane" id="talleres-asosiados">
                    <div class="col-md-6">
                   <form><br>
                   <label>Elige un taller</label>
                  <select class="form-control">
          					  <option>1</option>
          					  <option>2</option>
          					  <option>3</option>
          					  <option>4</option>
          					  <option>5</option>
					         </select>
           <br>
              		<div class="form-group ">
                		<label for="date" class="control-label">Elige tu fecha de instalación</label>
							<div class="input-group date">
							  <input type="text" class="form-control" id="date" data-date-format="YYYY-MM-DD" value="2018-02-20" name="">
							  <span class="input-group-btn">
							  <button style="padding: 10.1px;" type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							  </span>
							</div>
             		 </div>

             	  <div class="form-group ">
						      	<label for="time" class="control-label">Bloque horario</label>
							         <select class="form-control">
                      <option>AM</option>
                      <option>PM</option>

                   </select>
             		</div>


               		<div class="checkbox">
						<label>
						  <input type="checkbox"> Acepto <a href="terminos-condiciones.html" style="color:#6b8bc0;">Términos y Condiciones</a>
						</label>
					  </div>

                  <button type="submit" class="btn btn-default ">GUARDA DATOS</button>
                </form>
                  </div>
				  <div class="col-md-6"></div>

              </div>

               <div role="tabpanel" class="tab-pane" id="despacho-adomicilio">
                 <div class="col-md-6">
                  <form><br>
                      <div class="pad-10">&nbsp;</div>
                      <div class="form-group">
                          <label for="perfil">Dirección</label>
                          <input type="text" class="form-control" id="perfil" placeholder="">
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> Acepto <a href="terminos-condiciones.html" style="color:#6b8bc0;">Términos y Condiciones</a>
                        </label>
                    </div>
                                      <button type="submit" class="btn btn-default ">GUARDAR DATOS</button>

                </form>
                 </div>
                 <div class="col-md-6"> </div>
              </div>


                <div class="pad-10">&nbsp;</div>


            </div><!--tab-content-->

        </div>
      </div><!-- col-md-12-->
		  </div>





		</div>


		</div>


              <br>

            <div class="col-sm-6" style="padding-left: 0px;">
                  <h2 class="titulo-light subtile">Ingresa tu código de descuento</h2>
              <div class="panel panel-default">

                <div id="collapse-voucher" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <label class="col-sm-2 control-label" for="input-voucher"> Ingresar código</label>
                    <div class="input-group">
                      <input type="text" name="voucher" value="" placeholder="xdgez03" id="input-voucher" class="form-control" />
                      <span class="input-group-btn">
                      <input type="submit" value="Ver" id="button-voucher" style="padding: 10px;" data-loading-text="Loading..."  class="btn btn-primary" />
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-sm-6" style="padding-right: 0px;">
               <h2 class="titulo-light subtile">Resumen</h2>
            <div style="border: 1px solid #f2f2f2; padding: 10px;">
              <table class="table table-precio" style="font-size: 14px;">
                <tr>
                  <td class="text-left">Neumáticos</td>
                  <td class="text-right">$70.00</td>
                </tr>
                <tr>
                  <td class="text-left">Instalación / despacho</td>
                  <td class="text-right">$0</td>
                </tr>
                <tr>
                  <td class="text-left">Descuento</td>
                  <td class="text-right">$0</td>
                </tr>
                <tr style="border-top: 1px solid #f2f2f2;">
                  <td class="text-left"><strong>TOTAL</strong></td>
                  <td class="text-right"><h4><b>$70.000</b></h4></td>
                </tr>
                <tr>
                 <td></td>
                  <td  class="text-right">
                  	<button type="button" class="btn btn-default btn-block">Comprar con mi cuenta</button><br>
                   <a href="#"><small>¿Aun no tienes cuenta?</small></a><br>
                   <button type="button" class="btn btn-primary btn-block">Comprar como visita</button></td>
                </tr>
              </table>
       </div>

        </div>
        <!--Middle Part End -->
      </div>
    </div>


