
  <div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
        <li>Carro de compra</li>
      </ul>

      <div class="col-md-12">
            <table class="table">
              <tr>
                  <td class="text-center borderBottomActive" width="33%"><h3>01 Carro de compra</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>02 Información del cliente</h3></td>
                  <td class="text-center borderBottom" width="33%"><h3>03 Pago</h3></td>
              </tr>
            </table>
            <br>
      </div>

      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
          <h1 class="title" style="padding-bottom: 15px;">Carro de compra</h1>
          <h2 class="titulo-light subtile">1- Neumáticos</h2>


            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr class="gris">
                    <td class="text-center"></td>
                     <td class="text-left">Item</td>
                    <td class="text-left">Precio</td>
                    <td class="text-left">Qty.</td>
                    <td class="text-center">Total</td>
                  </tr>
                </thead>
                <tbody>

                  <tr class="borderTop" *ngFor="let producto of carroCompra">
                    <td class="text-center">
                      <a routerLink="/producto/{{producto.ID}}">
                      <img src="assets/image/product/540x576.jpg" width="50px" alt="Xitefun Causal Wear Fancy Shoes" title="">
                    </a>
                    </td>
                    <td class="text-left">

                        <a routerLink="/producto/{{producto.ID}}"><h4><b>{{producto.MARCA}} {{producto.MODELO}}</b></h4>
                           Medida: <span>{{producto.MEDIDA}}</span>
                         </a>
                    </td>
						<td class="text-left"><h4><b>$ {{producto.PRECIO_FINAL}}</b></h4></td>
                    <td class="text-left" style="padding-top: 24px;">
                        <select class="form-control" style="width: 75%;" #cantidadSeleccionada (change)="cambiaCantidad(producto.idCarro,cantidadSeleccionada.value)">
                        <option *ngFor="let stock of producto.STOCK" [value]="stock.codigo" [selected]="stock.codigo == producto.cantidadCarro">{{stock.nombre}}</option>
                      </select>
                    </td>
					  <td class="text-left">
               			<table>
               				<tr>
								        <td><h4><b>$ {{producto.totalParcial}}</b></h4></td>
               					<td>&nbsp; &nbsp;<i style="color: red; font-size: 18px" class="fa fa-times-circle" (click)="eliminaProductoCarro(producto.idCarro)"></i></td>
               				</tr>

               			</table>

                 	  </td>
                  </tr>
                </tbody>
              </table>
            </div>


            <br>

       <h2 class="titulo-light subtile" *ngIf="incluyeInstalacion">2- Elige tu Despacho o Instalación</h2>
       <div class="col-md-12 gris" style="padding: 10px;" *ngIf="incluyeInstalacion">
       					<p>Haz click en el tipo de instalación que deseas. Conoce más <a href="#"><b style="color:#6b8bc0;">Aquí</b></a></p>
       				</div>

       <div class=" col-md-12 borderCaja" *ngIf="incluyeInstalacion">
       				<br>

					<div class="col-md-6">
               <form name="form" (ngSubmit)="fregion.form.valid" #fregion="ngForm" novalidate>
										  <div class="form-group" [ngClass]="{ 'has-error': !regionValido }">
                    <label for="region">Región </label>
                      <select class="form-control" #selectedRegion (change)="cambiaCiudad(selectedRegion.value)" name="region1" #region1="ngModel" [(ngModel)]="regionInstalacion" id="region1">
                        <option *ngFor="let region of _is.regiones" [value]="region[0]">{{region[1]}}</option>
                    </select>
                      <div *ngIf="!regionValido" class="help-block">Debe seleccionar una region</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': !ciudadValido }">
                    <label for="ciudad">Ciudad </label>
                    <select *ngIf="_is.ciudades.length > 0" #selectedCiudad class="form-control" (change)="cambiaComuna(selectedCiudad.value)" #ciudad1="ngModel" name="ciudad1" id="ciudad1" [(ngModel)]="ciudadInstalacion">
                      <option  *ngFor="let ciudad of _is.ciudades" [value]="ciudad[0]">{{ciudad[1]}}</option>
                    </select>
                      <div *ngIf="!ciudadValido" class="help-block">Debe seleccionar una ciudad</div>
                  </div>

                   <div class="form-group" [ngClass]="{ 'has-error': !comunaValido }">
                    <label for="comuna">Comuna </label>
                      <select *ngIf="_is.comunas.length > 0" #selectedComuna class="form-control" id="input-select" name="input-select" #comuna1="ngModel" name="comuna1" id="comuna1" [(ngModel)]="comunaInstalacion">
                        <option  *ngFor="let comuna of _is.comunas" [value]="comuna[0]">{{comuna[1]}}</option>
                    </select>
                       <div *ngIf="!comunaValido" class="help-block">Debe seleccionar una comuna</div>
                  </div>
               </form>

   				 </div>

    <div class="col-md-6">&nbsp;</div>

    <div class="col-md-12">

            <div class="pest-home">

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" style="width: 25%" class="active">

              <a href="#intalacion-domicilio" aria-controls="intalacion-domicilio" role="tab" data-toggle="tab">
                <img class="img-responsive center-block noView" src="assets/image/Instalacion-a-domicilio-04.png">
                  <h4 class="tabs-h4"><b>Instalación a domicilio</b></h4>
                  <button type="button" class="btn btn-sm btn-default bremsen" (click)="tipoInstalacionBoton(1)">$ 40,000</button>

                </a>



              </li>

              <li role="presentation text-center" style="width: 25%;">

               <a href="#retiramos-autos" aria-controls="retiramos-autos" role="tab" data-toggle="tab">
                 <img class="img-responsive center-block noView" src="assets/image/retiro-a-domicilio-05.png">
                        <h4 class="tabs-h4"><b>Retiramos tu auto</b></h4>
                          <button type="button" class="btn btn-sm btn-default bremsen " (click)="tipoInstalacionBoton(2)">$ 40,000</button>
                      </a>




              </li>

              <li role="presentation" style="width: 25%">

               <a href="#talleres-asosiados" aria-controls="talleres-asosiados" role="tab" data-toggle="tab">
                    <img class="img-responsive center-block noView" src="assets/image/talleres-asociados-06.png">
                    <h4 class="tabs-h4"><b>Talleres asociados</b></h4>

                     <button type="button" class="btn btn-sm btn-default bremsen " (click)="tipoInstalacionBoton(3)">$ 0</button>

                </a>

              </li>

              <li role="presentation" style="width: 25%">
                 <a href="#despacho-adomicilio" aria-controls="despacho-adomicilio" role="tab" data-toggle="tab">
                              <img class="img-responsive center-block noView" src="assets/image/despacho-a-domicilio-07.png">
                              <h4 class="tabs-h4"><b>Despacho a domicilio</b></h4>
                                  <button type="button" class="btn btn-sm btn-default bremsen " (click)="tipoInstalacionBoton(4)">$ 40,000</button>


              </a>


              </li>

            </ul>


            <div class="tab-content" style="background: #fff; padding-left: 0px;">

              <div role="tabpanel" class="tab-pane active" id="intalacion-domicilio">
                <form name="form" (ngSubmit)="finstalacion1.form.valid && guardaInstalacion1()" #finstalacion1="ngForm" novalidate>
                  <div class="col-md-6" style="padding-left: 0px;">

                  <div class="form-group" [ngClass]="{ 'has-error': finstalacion1.submitted && !direccionInstalacion1.valid }">
                    <br>
                    <label for="ancho">Dirección</label>
                    <input type="text" class="form-control" id="" placeholder="Calle y número" #direccionInstalacion1="ngModel" name="direccionInstalacion1value" [(ngModel)]="direccionInstalacion1value" required>
                    <div *ngIf="finstalacion1.submitted && !direccionInstalacion1.valid" class="help-block">Debe ingresar una dirección</div>
                  </div>

                  <p>¿Quién entrega el auto?</p>
                  <div class="form-group" [ngClass]="{ 'has-error': finstalacion1.submitted && !nombresInstalacion1.valid }">
                    <label for="perfil">Nombre y apellido</label>
                    <input type="text" class="form-control" id="perfil" placeholder="Nombre y apellido" #nombresInstalacion1="ngModel" name="nombresInstalacion1value" [(ngModel)]="nombresInstalacion1value" required>
                  <div *ngIf="finstalacion1.submitted && !nombresInstalacion1.valid" class="help-block">Debe ingresar nombre y apellido</div>
                  </div>


               		<div class="checkbox">
						<!--label>
              <input type="checkbox" [(ngModel)]="aceptaInstalacion1"> Acepto <a routerLink="/terminos" style="color:#6b8bc0;">Términos y Condiciones</a>
                <div *ngIf="!aceptaInstalacion1Valido" class="help-block">Debe aceptar los terminos y condiciones</div>
						</label-->
					  </div>

                  <button type="submit" class="btn btn-default">GUARDAR DATOS</button>


                 </div>
                 <div class="col-md-6"></div>
                </form>
              </div>


               <div role="tabpanel" class="tab-pane" id="retiramos-autos">

                 <div class="col-md-6" style="padding-left: 0px;">
                  <br>

                 <form name="form" (ngSubmit)="finstalacion2.form.valid && guardaInstalacion2()" #finstalacion2="ngForm" novalidate>
                  <div class="form-group" [ngClass]="{ 'has-error': finstalacion2.submitted && !direccionInstalacion2.valid }">
                    <label for="ancho">Dirección</label>
                    <input type="text" class="form-control" id="" placeholder="Calle y número"  #direccionInstalacion2="ngModel" name="direccionInstalacion2value" [(ngModel)]="direccionInstalacion2value" required>
                     <div *ngIf="finstalacion2.submitted && !direccionInstalacion2.valid" class="help-block">Debe ingresar una dirección</div>
                  </div>

                  <p>¿Quién entrega el auto?</p>

                  <div class="form-group" [ngClass]="{ 'has-error': finstalacion2.submitted && !nombresInstalacion2.valid }">
                    <label for="perfil">Nombre y apellido</label>
                    <input type="text" class="form-control" id="perfil" placeholder="Nombre y apellido"  #nombresInstalacion2="ngModel" name="nombresInstalacion2value" [(ngModel)]="nombresInstalacion2value" required>
                     <div *ngIf="finstalacion2.submitted && !nombresInstalacion2.valid" class="help-block">Debe ingresar nombre y apellido</div>
                  </div>

                  <div class="form-group" [ngClass]="{ 'has-error': finstalacion2.submitted && !rutInstalacion2.valid }">
                    <label for="perfil">R.U.T</label>
                    <input type="text" class="form-control" id="perfil" placeholder="" [(ngModel)]="rutInstalacion2value" #rutInstalacion2="ngModel" name="rutInstalacion2value" required>
                     <div *ngIf="finstalacion2.submitted && !rutInstalacion2.valid" class="help-block">Debe ingresar un rut</div>
                  </div>

               		<div class="checkbox">
						<!--label>
              <input type="checkbox"  [(ngModel)]="aceptaInstalacion2" > Acepto <a routerLink="/terminos" style="color:#6b8bc0;">Términos y Condiciones</a>
                 <div *ngIf="!aceptaInstalacion2Valido" class="help-block">Debe aceptar los terminos y condiciones</div>
						</label-->
					  </div>

                  <button type="submit" class="btn btn-default">GUARDAR DATOS</button>
                </form>

                 </div>
                 <div class="col-md-6"></div>
              </div>



              <div role="tabpanel" class="tab-pane" id="talleres-asosiados">
                <form name="form" (ngSubmit)="finstalacion3.form.valid && guardaInstalacion3()" #finstalacion3="ngForm" novalidate>
                    <div class="col-md-6">
                <div class="form-group" [ngClass]="{ 'has-error': finstalacion3.submitted && !tallerAsociado.valid }">
                   <br><label>Elige un taller</label>
                  <select class="form-control" #tallerAsociado="ngModel" name="tallerAsociadovalue" [(ngModel)]="tallerAsociadovalue" required>
          					  <option>1</option>
          					  <option>2</option>
          					  <option>3</option>
          					  <option>4</option>
          					  <option>5</option>
                   </select>
                    <div *ngIf="finstalacion3.submitted && !tallerAsociado.valid" class="help-block">Debe seleccionar un taller asociado</div>
                  </div>
           <br>
              		<div class="form-group" [ngClass]="{ 'has-error': finstalacion3.submitted && !fechaInstalacion.valid }">
                		<label for="date" class="control-label">Elige tu fecha de instalación</label>
							<div class="input-group date">
							  <input type="text" class="form-control" id="date" data-date-format="YYYY-MM-DD" value="2018-02-20" name="fechaInstalacionvalue" #fechaInstalacion="ngModel" [(ngModel)]="fechaInstalacionvalue" required>
							  <span class="input-group-btn">
							  <button style="padding: 10.1px;" type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							  </span>
              </div>
               <div *ngIf="finstalacion3.submitted && !fechaInstalacion.valid" class="help-block">Debe seleccionar una fecha de instalacion</div>
             		 </div>

             	  <div class="form-group" [ngClass]="{ 'has-error': finstalacion3.submitted && !bloqueHorario.valid }">
						      	<label for="time" class="control-label">Bloque horario</label>
							         <select class="form-control" [(ngModel)]="bloqueHorariovalue" name="bloqueHorariovalue" #bloqueHorario="ngModel" required>
                      <option>AM</option>
                      <option>PM</option>

                   </select>
                     <div *ngIf="finstalacion3.submitted && !bloqueHorario.valid" class="help-block">Debe seleccionar un rango de horario</div>
             		</div>


               		<div class="checkbox">
						<!--label>
              <input type="checkbox" [(ngModel)]="aceptaInstalacion3"> Acepto <a routerLink="/terminos" style="color:#6b8bc0;">Términos y Condiciones</a>
                 <div *ngIf="!aceptaInstalacion3Valido" class="help-block">Debe aceptar los terminos y condiciones</div>
						</label-->
					  </div>

                  <button type="submit" class="btn btn-default">GUARDA DATOS</button>

                  </div>
             </form>
				  <div class="col-md-6"></div>

              </div>

               <div role="tabpanel" class="tab-pane" id="despacho-adomicilio">
                 <div class="col-md-6">
                    <form name="form" (ngSubmit)="finstalacion4.form.valid && guardaInstalacion4()" #finstalacion4="ngForm" novalidate>
                      <div class="pad-10">&nbsp;</div>
                      <div class="form-group" [ngClass]="{ 'has-error': finstalacion4.submitted && !direccionInstalacion4.valid }">
                          <label for="perfil">Dirección</label>
                          <input type="text" class="form-control" id="perfil" placeholder="" [(ngModel)]="direccionInstalacion4value" name="direccionInstalacion4value" #direccionInstalacion4="ngModel" required>
                           <div *ngIf="finstalacion4.submitted && !direccionInstalacion4.valid" class="help-block">Debe ingresar una dirección</div>
                    </div>
                    <div class="checkbox">
                        <!--label>
                          <input type="checkbox" [(ngModel)]="aceptaInstalacion4"> Acepto <a routerLink="/terminos" style="color:#6b8bc0;">Términos y Condiciones</a>
                           <div *ngIf="!aceptaInstalacion4Valido" class="help-block">Debe aceptar los terminos y condiciones</div>
                        </label-->
                    </div>
                                      <button type="submit" class="btn btn-default">GUARDAR DATOS</button>

                </form>
                 </div>
                 <div class="col-md-6"> </div>
              </div>


                <div class="pad-10">&nbsp;</div>


            </div><!--tab-content-->

        </div>
      </div><!-- col-md-12-->
		  </div>

<div *ngIf="estado" [ngClass] = "'success'"> Tus datos fueron guardados temporalmnente, sigue al siguiente paso, para fanalizar tu compra. </div>
<div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div>


		</div>

		</div>

              <br>

            <div class="col-sm-6" style="padding-left: 0px;">
                  <h2 class="titulo-light subtile">Ingresa tu código de descuento</h2>
              <div class="panel panel-default">

                <div id="collapse-voucher" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <label class="col-sm-2 control-label" for="input-voucher"> Ingresar código</label>
                    <div class="input-group">
                      <input type="text" name="voucher" value="" placeholder="xdgez03" id="input-voucher" class="form-control" />
                      <span class="input-group-btn">
                      <input type="submit" value="Ver" id="button-voucher" style="padding: 10px;" data-loading-text="Loading..."  class="btn btn-primary" />
                      </span> </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="col-sm-6" style="padding-right: 0px;">
               <h2 class="titulo-light subtile">Resumen</h2>
            <div style="border: 1px solid #f2f2f2; padding: 10px;">
              <table class="table table-precio" style="font-size: 14px;">
                <tr>
                  <td class="text-left">Neumáticos</td>
                  <td class="text-right">$70.00</td>
                </tr>
                <tr>
                  <td class="text-left">Instalación / despacho</td>
                  <td class="text-right">$0</td>
                </tr>
                <tr>
                  <td class="text-left">Descuento</td>
                  <td class="text-right">$0</td>
                </tr>
                <tr style="border-top: 1px solid #f2f2f2;">
                  <td class="text-left"><strong>TOTAL</strong></td>
                  <td class="text-right"><h4><b>$70.000</b></h4></td>
                </tr>
                <tr>
                 <td></td>
                  <td  class="text-right">
                  	<button type="button" class="btn btn-default btn-block" (click)="checking()">Continuar con tu pedido</button><br>
                   <!--a href="#"><small>¿Aun no tienes cuenta?</small></a><br>
                   <button type="button" class="btn btn-primary btn-block">Comprar como visita</button-->
                  </td>
                </tr>
              </table>
       </div>

        </div>
        <!--Middle Part End -->
      </div>
    </div>


