<div id="container">
    <div class="container">
      <!-- Breadcrumb Start-->
      <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="blog.html">Blog</a></li>
      </ul>
      <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">Blog</h1>
          <div class="blog">

          <div class="blog-entry" *ngFor="let blog of blogs"> 
  <div class="image"> <a href="#"><img class="img-responsive" src="{{blog.fotoprincipal}}" alt=""></a> </div>
  <h3 class="post_title_blog"><a href="#">{{blog.titulo}}</a></h3>
  <p class="description">{{blog.contenido | slice:0:100}}</p>
  <a routerLink="/contenido/{{blog.id}}" class="btn btn-primary">Leer más</a> </div>




                
          
          <!--div class="row">
            <div class="col-sm-6 text-left">
              <ul class="pagination">
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">&gt;</a></li>
                <li><a href="#">&gt;|</a></li>
              </ul>
            </div>
            <div class="col-sm-6 text-right">Mostrando 1 to 12 of 15</div>
          </div-->
          </div>
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
        <aside id="column-right" class="col-sm-3 hidden-xs">
 
        </aside>
        <!--Right Part End -->
      </div>
    </div>
  </div>